<div class="container">
    <!-- START: Profile Panel -->
    <div class="row profile-panel">
        <!-- START: Sidebar Left -->
        <aside class="col-sm-3 left">
            {{> profile_menu active="account"}}
        </aside>
        <!-- END: Sidebar Left -->
        <div class="col-sm-9 right">
            <div class="head">
                <h1>
                    {{_ 'Account Settings'}} |
                    <span>{{_ 'Change Password'}}</span>
                </h1>
            </div>
            <!-- START: Change Password -->
            <div class="contact-password">
                <div class="head">
                    <h2>{{_ 'Change Password'}}</h2>
                </div>
                <!-- START: Form -->
                <form
                    action="/profile/account"
                    method="post"
                >
                    <!-- START: New Password -->
                    <div class="form-group{{#if errors.auth_password}} has-error{{/if}}">
                        <label>{{_ 'New Password'}}</label>
                        <input
                            class="form-control"
                            name="auth_password"
                            placeholder ="{{_ 'New Password'}}"
                            type="password"
                            value="{{item.auth_password}}"
                        />
                        {{#if errors.auth_password}}
                        <span class="help-text">{{errors.auth_password}}</span>
                        {{/if}}
                    </div>
                    <!-- END: New Password -->
                    <!-- START: Confirm Password -->
                    <div class="form-group{{#if errors.confirm}} has-error{{/if}}">
                        <label>{{_ 'Confirm Password'}}</label>
                        <input
                            class="form-control"
                            name="confirm"
                            placeholder="{{_ 'Confirm Password'}}"
                            type="password"
                            value="{{item.confirm}}"
                        />
                        {{#if errors.confirm}}
                        <span class="help-text">{{errors.confirm}}</span>
                        {{/if}}
                    </div>
                    <!-- END: Confirm Password -->
                    <div class="bottom text-center">
                        <input
                            name="csrf"
                            type="hidden"
                            value="{{csrf}}"
                        />
                        <input
                            type="hidden"
                            name="redirect"
                            value="/profile/account/password"
                        />
                        <button
                            class="btn btn-default text-uppercase"
                            type="submit"
                        >
                            Save
                        </button>
                        <a
                            class="btn btn-warning text-uppercase"
                            href="/profile/account"
                            title="Cancel"
                        >
                            Cancel
                        </a>
                    </div>
                </form>
                <!-- END: Form -->
            </div>
            <!-- END: Change Password -->
        </div>
    </div>
    <!-- END: Profile Panel -->
</div>
