<!-- START: Crumbs -->
<div class="crumbs">
        <a href="/control/business/dashboard">
            <i class="fa fa-home"></i> {{_ 'Dashboard'}}
        </a>
        <span class="separator">
            <i class="fa fa-angle-right"></i>
        </span>
        <a href="/control/business/pipeline/1/board">
            <i class="fa fa-ellipsis-h"></i> {{_ 'Clients'}}
        </a>
        <span class="separator">
                <i class="fa fa-angle-right"></i>
        <a href="#" class="active">
            <i class="fa fa-envelope"></i> {{_ 'Emails'}}
        </a>
    </div>
    <!-- END: Crumbs -->
    <div class="scroll">
        <section>
            <p>Yay! Your gmail is already connected.</p>
        </section>
    </div>
