<!-- START: Crumbs -->
<div class="crumbs">
    <a href="/control/business/dashboard" title="Dashboard">
        <i class="fa fa-home"></i> {{_ 'Dashboard'}}
    </a>
    <span class="separator"><i class="fa fa-angle-right"></i></span>
    <a href="/control/business/deal/search">
        <i class="fa fa-user"></i> {{_ 'Deals'}}
    </a>
    <span class="separator"><i class="fa fa-angle-right"></i></span>
    <a class="active" title="Update Deal">
        <i class="fa fa-edit"></i> {{_ 'Update Deal'}}
    </a>
</div>
<!-- END: Crumbs -->
<!-- START: Scroll -->
<div class="scroll">
    <h3 class="template-blue">
        <i class="fa fa-edit"></i> {{_ 'Update Deal'}}
    </h3>
    {{> deal_form}}
</div>
