<!-- START: Crumbs -->
<div class="crumbs">
    <a href="/control/business/dashboard">
        <i class="fa fa-home"></i> {{_ 'Dashboard'}}</a>
    <span class="separator">
        <i class="fa fa-angle-right"></i>
    </span>
    <a href="/control/business/lead/search" class="active">
        <i class="fa fa-user"></i> {{_ 'Leads'}}</a>
</div>
<!-- END: Crumbs -->
<!-- START: Scroll -->
<div class="scroll">
    <h3 class="template-blue">
        <i class="fa fa-user"></i> {{_ 'Leads'}}
        <span class="badge badge-info">{{total}}</span>
    </h3>
    <!-- START: Search Actions -->
    <div class="search-actions">
        <div class="pull-right">
            <a href="create" class="btn btn-success">
                <i class="fa fa-plus"></i> {{_ 'Create Lead'}}
            </a>
            <a
                class="btn btn-export"
                href="/control/business/lead/search?export=true&
                {{~querystring}}"
            >
                <i class="fa fa-download"></i> {{_ 'Export'}}
            </a>
            <button
                class="btn btn-info"
                data-toggle="modal"
                data-target="#import-modal"
            >
                <i class="fa fa-upload"></i> {{_ 'Import'}}
            </button>
        </div>

        <div class="btn-group" role="group">
            <a
                class="btn
                    {{#when filter.lead_active '===' '0'}}
                        btn-default
                    {{else}}
                        btn-active active
                    {{/when}}
                "
                href="/control/business/lead/search?
                    {{~querystring 'filter[lead_active]' '1'}}"
            >
                {{_ 'Active'}}
            </a>
            <a
                class="btn
                    {{#when filter.lead_active '===' '0'}}
                        btn-active active
                    {{else}}
                        btn-default
                    {{/when}}
                "
                href="/control/business/lead/search?
                    {{~querystring 'filter[lead_active]' '0'}}">
                {{_ 'Inactive'}}
            </a>
        </div>
    </div>
    <!-- END: Search Actions -->
    <!-- START: Search Filters -->
    <div class="panel panel-default search-filters">
        <div class="panel-heading">{{_ 'Filters'}}</div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group{{#if errors.q}} has-error{{/if}}">
                            <label>{{_ 'Search'}}</label>
                            <div class="texts-field">
                                <input type="text"
                                    class="form-control"
                                    name="q"
                                    placeholder="{{_ 'Enter Keyword'}}"
                                    type="text"
                                    value="{{q}}"
                                />
                            </div>
                            {{#if errors.q}}
                                <span class="help-text">{{errors.q}}</span>
                            {{/if}}
                        </div>
                        <div class="form-group
                            {{~#if errors.range_start}} has-error{{/if~}}
                            {{~#if errors.range_end}} has-error{{/if~}}"
                        >
                            <label>{{_ 'Date Range'}}</label>
                            <div class="input-range date-range">
                                <div class="input-from">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input
                                            class="form-control"
                                            name="date_start"
                                            onfocus="(this.type='date')"
                                            placeholder="{{_ '2017-01-01'}}"
                                            type="text"
                                            value="{{date_start}}"
                                        />
                                    </div>
                                </div>
                                <span class="input-separator">
                                    <i class="fa fa-minus"></i>
                                </span>
                                <div class="input-to">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input
                                            class="form-control"
                                            name="date_end"
                                            onfocus="(this.type='date')"
                                            placeholder="{{_ '2017-01-01'}}"
                                            type="text"
                                            value="{{date_end}}"
                                        />
                                    </div>
                                </div>
                            </div>

                            {{#if errors.date_start}}
                                <span class="help-text">
                                    {{errors.date_start}}
                                </span>
                            {{/if}}
                            {{#if errors.date_end}}
                                <span class="help-text">
                                    {{errors.date_end}}
                                </span>
                            {{/if}}
                        </div>
                        <div
                            class="form-group
                                {{#if errors.lead_type}} has-error{{/if}}"
                        >
                            <label>{{_ 'Date Type'}}</label>
                            <div class="select-field">
                                <select name="date_type" class="form-control">
                                    <option value="created"
                                        {{#when date_type '==' 'created'}}
                                            selected
                                        {{/when}}
                                    >
                                        {{_ 'Created'}}
                                    </option>
                                    <option value="updated"
                                        {{#when date_type '==' 'updated'}}
                                            selected
                                        {{/when}}
                                    >
                                        {{_ 'Updated'}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group
                            {{~#if errors.lead_tags}} has-error{{/if~}}"
                        >
                            <label>{{_ 'Tags'}}</label>
                            <div
                                data-do="tag-field"
                                data-name="lead_tags"
                                class="tag-field"
                            >
                            </div>

                            {{#if errors.lead_tags}}
                                <span class="help-text">
                                    {{errors.lead_tags}}
                                </span>
                            {{/if}}
                        </div>

                        <div
                            class="form-group
                            {{#if errors.lead_campaigns}} has-error{{/if}}"
                        >
                            <label>{{_ 'Campaigns'}}</label>
                            <div
                                class="tag-field"
                                data-do="tag-field"
                                data-name="lead_campaigns"
                            >
                            </div>

                            {{#if errors.lead_campaigns}}
                                <span class="help-text">
                                    {{errors.lead_campaigns}}
                                </span>
                            {{/if}}
                        </div>

                        <div class="form-group">
                            <label>{{_ 'Gender'}}</label>
                            <div class="select-field">
                                <select
                                    class="form-control"
                                    name="filter[lead_gender]"
                                 >
                                    <option value="male">
                                        {{_ 'Male'}}
                                    </option>
                                    <option value="female">
                                        {{_ 'Female'}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group filter-button-only">
                    {{#when filter.lead_active '==' '0'}}
                        <input
                            type="hidden"
                            name="filter[lead_active]"
                            value="0"
                        />
                    {{/when}}
                    <button class="btn btn-primary">{{_ 'Filter'}}</button>
                </div>
            </form>
        </div>
    </div>
    <!-- END: Search Filters -->
    <!-- START: Search Table Actions -->
    <div class="search-table-actions">
        <form class="form-inline">
            <div class="pull-right">
                <div class="btn-group">
                    <button
                        type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        {{_ 'Show %s' range}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a
                                href="/control/business/lead/search?
                                {{~querystring}}&range=10"
                            >
                                {{_ 'Show 10'}}
                            </a>
                        </li>
                        <li>
                            <a
                                href="/control/business/lead/search?
                                {{~querystring}}&range=25"
                            >
                                {{_ 'Show 25'}}
                            </a>
                        </li>
                        <li>
                            <a
                                href="/control/business/lead/search?
                                {{~querystring}}&range=50"
                            >
                                {{_ 'Show 50'}}
                            </a>
                        </li>
                        <li>
                            <a
                                href="/control/business/lead/search?
                                {{~querystring}}&range=100"
                            >
                                {{_ 'Show 100'}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <select name="bulk" class="form-control">
                    <option value="add-tag">{{_ 'Add Tag'}}</option>
                    <option value="remove-tag">{{_ 'Remove Tag'}}</option>
                    <option value="restore">{{_ 'Make Active'}}</option>
                    <option value="remove">{{_ 'Make Inactive'}}</option>
                </select>
            </div>

            <div
                class="form-group
                {{#if errors.lead_campaigns}} has-error{{/if}}"
            >
                <div data-do="tag-field" class="tag-field"></div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">{{_ 'Apply'}}</button>
            </div>
            <!-- START: Search Table -->
            <div class="table-overflow">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <input
                                    class="checkall"
                                    id="checkAll"
                                    type="checkbox"
                                />
                            </th>
                            <th>{{_ 'Actions'}}</th>
                            <th>{{_ 'ID'}}
                                <a href="?q={{q}}&
                                    {{~#sort 'lead_id'~}}
                                        {{~#unless value~}}
                                            order[lead_id]=ASC
                                        {{~/unless}}
                                        {{~#when value '===' 'ASC'~}}
                                            order[lead_id]=DESC
                                        {{~/when}}
                                    {{~/sort~}}">
                                    <i class="fa fa-sort"></i>
                                </a>
                            </th>
                            <th>{{_ 'Image'}}</th>
                            <th>{{_ 'Company'}}
                                <a href="?q={{q}}&
                                    {{~#sort 'lead_company'~}}
                                        {{~#unless value~}}
                                            order[lead_company]=ASC
                                        {{~/unless}}
                                        {{~#when value '===' 'ASC'~}}
                                            order[lead_company]=DESC
                                        {{~/when}}
                                    {{~/sort~}}">
                                    <i class="fa fa-sort"></i>
                                </a>
                            </th>
                            <th>{{_ 'Name'}}
                                <a href="?q={{q}}&
                                    {{~#sort 'lead_name'~}}
                                        {{~#unless value~}}
                                            order[lead_name]=ASC
                                        {{~/unless}}
                                        {{~#when value '===' 'ASC'~}}
                                            order[lead_name]=DESC
                                        {{~/when}}
                                    {{~/sort~}}">
                                    <i class="fa fa-sort"></i>
                                </a>
                            </th>
                            <th>Email
                                <a href="?q={{q}}&
                                    {{~#sort 'lead_email'~}}
                                        {{~#unless value~}}
                                            order[lead_email]=ASC
                                        {{~/unless}}
                                        {{~#when value '===' 'ASC'~}}
                                            order[lead_email]=DESC
                                        {{~/when}}
                                        {{~/sort~}}"
                                >
                                    <i class="fa fa-sort"></i>
                                </a>
                            </th>
                            <th>{{_ 'Phone'}}</th>
                            <th>{{_ 'Social'}}</th>
                            <th>{{_ 'Position'}}</th>
                            <th>{{_ 'Status'}}</th>
                            <th>{{_ 'Tags'}}</th>
                            <th>{{_ 'Created'}}
                                <a href="?q={{q}}&
                                    {{~#sort 'lead_created'~}}
                                        {{~#unless value~}}
                                            order[lead_created]=ASC
                                        {{~/unless}}
                                        {{~#when value '===' 'ASC'~}}
                                            order[lead_created]=DESC
                                        {{~/when}}
                                    {{~/sort~}}"
                                >
                                    <i class="fa fa-sort"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each rows}}
                        <tr>
                            <td>
                                <input
                                    name="bulk-rows[]"
                                    value="{{lead_id}}"
                                    type="checkbox"
                                />
                            </td>
                            <td>
                                <a title="Overview" href="/control/business/deal/overview/{{deal_id}}">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a title="Edit" href="update/{{lead_id}}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a title="Remove" href="remove/{{lead_id}}">
                                    <i class="fa fa-remove text-danger"></i>
                                </a>
                            </td>
                            <td>{{lead_id}}</td>
                            <td>
                                {{#if lead_image}}
                                    <img
                                        alt="{{lead_name}}"
                                        src="{{lead_image}}"
                                        width="40"
                                    />
                                {{else}}
                                    <img
                                        alt="{{lead_name}}"
                                        src="/images/default-avatar.png"
                                        width="40"
                                    />
                                {{/if}}
                            </td>
                            <td>{{lead_company}}</td>
                            <td>{{lead_name}}</td>
                            <td>
                                <a href="mailto:{{lead_email}}">
                                    {{lead_email}}
                                </a>
                            </td>
                            <td>
                                <a href="tel:{{lead_phone}}">{{lead_phone}}</a>
                            </td>
                            <td>
                                {{#if lead_facebook}}
                                    <a
                                        href="{{lead_facebook}}"
                                        target="_blank"
                                    >
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                {{/if}}
                                {{#if lead_linkedin}}
                                    <a
                                        href="{{lead_linkedin}}"
                                        target="_blank"
                                    >
                                        <i class="fa fa-linkedin-square"></i>
                                    </a>
                                {{/if}}
                            </td>
                            <td>
                                <a
                                    href="?filter[lead_job_title]=
                                    {{~lead_job_title}}"
                                >
                                    {{lead_job_title}}
                                </a>
                            </td>
                            <td>
                                <a
                                    href="?filter[deal_status]=
                                    {{~deal_status}}"
                                >
                                    {{deal_status}}
                                </a>
                            </td>
                            <td>
                                {{#each lead_tags}}
                                <a
                                    class="pull-left"
                                    href="?lead_tags={{@key}}"
                                >
                                    <span
                                        class="label label-default"
                                        name="lead_tags[]"
                                    >
                                        {{this}}
                                    </span>
                                </a>
                                {{/each}}
                            </td>

                            <td>{{date lead_created 'F j, Y h:i:s a'}}</td>
                        </tr>
                        {{/each}}
                        {{#unless rows}}
                            <tr>
                                <td  class="text-center" colspan="15">
                                    {{_ 'No results found'}}.
                                </td>
                            </tr>
                        {{/unless}}
                    </tbody>
                </table>
            </div>
            <!-- END: Search Table -->
        </form>
    </div>
    <!-- END: Search Table Actions -->
    <!-- START: Pagination -->
    <nav>
        <ul class="pagination">
            {{#pager total range}}
                <li{{#if active}} class="active"{{/if}}>
                    <a href="?{{href}}">{{page}}</a>
                </li>
            {{/pager}}
        </ul>
    </nav>
    <!-- END: Pagination -->
</div>
<!-- END: Scroll -->

<!-- START: Import Modal -->
<div class="modal fade" id="import-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- START: Modal Header -->
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    &times;
                </button>
                <div class="modal-title">{{_ 'Import Leads'}}</div>
            </div>
            <!-- END: Modal Header -->
            <!-- START: Import Modal Form -->
            <form
                action="/control/business/lead/import"
                class="form-inline"
                enctype="multipart/form-data"
                method="post"
            />
                <div class="modal-body">
                    <div class="form-group">
                        <input
                            class="upload"
                            id="file_csv"
                            name="csv"
                            type="file"
                        />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit">
                        {{_ 'Import'}}
                    </button>
                </div>
            </form>
            <!-- END: Import Modal Form -->
        </div>
    </div>
</div>
<!-- END: Import Modal -->
