<div class="crumbs">
    <a href="/control/business/dashboard">
        <i class="fa fa-home"></i> {{_ 'Dashboard'}}
    </a>
    <span class="separator"><i class="fa fa-angle-right"></i></span>
    <a href="/control/business/agent/search">
        <i class="fa fa-user-secret"></i> {{_ 'Sales Agent'}}
    </a>
    <span class="separator"><i class="fa fa-angle-right"></i></span>
    <a href="#" class="active">
        <i class="fa fa-edit"></i> {{_ 'Update Sales Agent'}}
    </a>
</div>
<div class="scroll">
    <h3 class="template-blue">
        <i class="fa fa-edit"></i> {{_ 'Update Sales Agent'}}
    </h3>
    {{> agent_form}}
</div>
