<div class="modal fade information-confirm-modal" id="information-confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title"></div>
            </div>
            <!-- START: Form -->
            <div class="modal-body"></div>
            <!-- START: Footer -->
            <div class="modal-footer">
                <a
                    class="btn btn-default"
                    data-do="information-remove"
                    data-on="click"
                    href="javascript:void(0)"
                >
                    {{_ 'Remove'}}
                </a>
                <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                >
                    {{_ 'Cancel'}}
                </button>
            </div>
                <!-- END: Footer -->
            <!-- END: Form -->
        </div>
    </div>
</div>
