<div class="modal fade experience-modal" id="experience-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    {{_ 'Add Work Experience'}}
                </div>
            </div>
            <!-- START: Form -->
            <form
                action="/ajax/experience/create"
                data-do="information-form"
                data-on="submit"
            >
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- START: Job Title -->
                            <div class="form-group">
                                <label>{{_ 'Job Title'}}</label>
                                <input
                                    class="form-control"
                                    maxlength="50"
                                    name="experience_title"
                                    placeholder="{{_ 'Designer'}}"
                                    type="text"
                                    value=""
                                />
                                <span class="help-text"></span>
                            </div>
                            <!-- END: Job Title -->
                        </div>
                        <div class="col-md-6">
                            <!-- START: Company -->
                            <div class="form-group">
                                <label>{{_ 'Company'}}</label>
                                <input
                                    class="form-control"
                                    maxlength="50"
                                    name="experience_company"
                                    placeholder="{{_ 'Company'}}"
                                    type="text"
                                    value=""
                                />
                                <span class="help-text"></span>
                            </div>
                            <!-- END: Company -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- START: Industry -->
                            <div class="form-group">
                                <label>{{_ 'Industry'}}</label>
                                <div class="custom-select">
                                    <select name="experience_industry" class="form-control">
                                        <option value="">{{_ 'Select Industry'}}</option>
                                        {{#each industry}}
                                            <option value="{{feature_name}}">
                                                {{feature_name}}
                                            </option>
                                        {{/each}}
                                    </select>
                                </div>
                                <span class="help-text"></span>
                            </div>
                            <!-- END: Industry -->
                        </div>
                        <div class="col-md-6">
                            <!-- START: Related in College Degree -->
                            <div class="form-group">
                                <label>{{_ 'Is this job related to your degree in college'}}?</label>
                                <div class="custom-select">
                                    <select name="experience_related" class="form-control">
                                        <option value="">{{_ 'Yes / No'}}</option>
                                        <option
                                            value="yes"
                                            {{#when information.experience_related '==' 'yes'}}
                                                selected
                                            {{/when}}
                                        >
                                            {{_ 'Yes'}}
                                        </option>
                                        <option
                                            value="no"
                                            {{#when information.experience_related '==' 'no'}}
                                                selected
                                            {{/when}}
                                        >
                                            {{_ 'No'}}
                                        </option>
                                    </select>
                                </div>
                                <span class="help-text"></span>
                            </div>
                            <!-- END: Related in College Degree -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- START: From -->
                            <div class="form-group">
                                <label>{{_ 'From'}}</label>
                                <input
                                    class="datepicker form-control"
                                    data-do="datepicker"
                                    name="experience_from"
                                    placeholder="January 01, 1990"
                                    type="text"
                                />
                                <span class="help-text"></span>
                            </div>
                            <!-- END: From -->
                        </div>
                        <div class="col-md-6">
                            <!-- START: To -->
                            <div class="form-group">
                                <label>{{_ 'To'}}</label>
                                <input
                                    class="datepicker form-control"
                                    data-do="datepicker"
                                    name="experience_to"
                                    placeholder="January 01, 1990"
                                    type="text"
                                />
                                <span class="help-text"></span>
                            </div>
                            <!-- END: To -->
                        </div>
                    </div>
                    <!-- START: Description -->
                    <div class="form-group">
                        <label>{{_ 'Description'}}</label>
                        <textarea
                            class="form-control"
                            name="experience_description"
                            placeholder="{{_ 'Job description or key tasks'}}"
                            rows="4"
                        >
                            {{{~item.position_description~}}}
                        </textarea>
                        <span class="help-text"></span>
                    </div>
                    <!-- END: Description -->
                </div>
                <!-- START: Footer -->
                <div class="modal-footer">
                    <button
                        class="btn btn-default"
                        type="submit"
                    >
                        {{_ 'Save for now'}}
                    </button>
                    <button
                        class="btn btn-primary"
                        data-dismiss="modal"
                        type="button"
                    >
                        {{_ 'Cancel'}}
                    </button>
                </div>
                <!-- END: Footer -->
            </form>
            <!-- END: Form -->
        </div>
    </div>
</div>
