<!-- START: 404 Body -->
<div class="body-404" data-do="background-move">
    <div class="wrapper-404">
        <img
            alt="404 Logo"
            class="img-responsive"
            src="{{config 'cdn'}}/images/404-logo.png"
        />
        <div class="text-404">
            <h1>{{_ "Oh no! You've landed on the wrong page."}}</h1>
            <p>{{_ 'Sorry! The page you were looking for does not exist.'}}</p><br>
            <a href="/" class="btn btn-default">{{_ 'Go Back Home'}}</a>
        </div>
    </div>
</div>
<!-- END: 404 Page -->
