<!-- START: Footer Top -->
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 info">
                <!-- START: Logo -->
                <a href="/" title="Jobayan">
                    <img
                        alt="Jobayan Logo"
                        src="{{config 'cdn'}}/images/home/jobayan_logo_white_orange.png"
                        width="150"
                    />
                </a>
                <!-- END: Logo  -->
                <p class="slogan">A simple way to connect to <br/> job seekers and job posters.</p>
                <!-- START: Social -->
                <ul class="social">
                    <!-- START: Facebook -->
                    <li>
                        <a
                            class="facebook"
                            href="https://www.facebook.com/jobayancom"
                            target="_blank"
                            title="Facebook"
                        >
                            <img src="{{config 'cdn'}}/images/home/facebook.png" alt="facebook" />
                        </a>
                    </li>
                    <!-- END: Facebook -->
                    <!-- START: Twitter -->
                    <li>
                        <a
                            class="twitter"
                            href="https://twitter.com/jobayancom"
                            target="_blank"
                            title="Twitter"
                        >
                            <img src="{{config 'cdn'}}/images/home/twitter.png" alt="twitter" />
                        </a>
                    </li>
                    <!-- END: Twitter -->
                    <!-- START: LinkedIn -->
                    <li>
                        <a
                            class="linkedin"
                            href="https://www.linkedin.com/company/13271950"
                            target="_blank"
                            title="LinkedIn"
                        >
                            <img src="{{config 'cdn'}}/images/home/linkedin.png" alt="linkedin" />
                        </a>
                    </li>
                    <!-- END: LinkedIn -->
                </ul>
                <!-- END: Social -->
                <!-- START: Newsletter -->
                <div class="newsletter" id="newsletter">
                    <p>Stay updated with the latest jobs</p>
                    <div class="widget-subscribe-form-result"></div>
                    <form
                        class="nobottommargin"
                        id="widget-subscribe-form" action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdHnRFHtmSD-Ep8w0x-K2tIcV-f-2KlYW8QfPwgG5sbYOtrbg/formResponse"
                        method="get"
                        role="form"
                        target="gdocs-frame"
                    >
                        <input type="hidden" name="fvv" value="1" />
                        <input
                            name="draftResponse"
                            type="hidden"
                            value="[null,null,&quot;-5310195544633818584&quot;]"
                        />
                        <input type="hidden" name="pageHistory" value="0" />
                        <input type="hidden" name="fbzx" value="-5310195544633818584" />
                        <div class="input-group">
                            <input
                                class="form-control"
                                name="entry.1160409630"
                                placeholder="E-mail"
                                required
                                type="email"
                            />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Sign Up</button>
                            </span>
                        </div>
                    </form>
                    <iframe id="gdocs-frame" name="gdocs-frame" style="display:none;"></iframe>
                </div>
                <!-- END: Newsletter -->
            </div>
            <!-- START: About Us -->
            <div class="col-md-2 about">
                <p>{{_ 'Around Jobayan'}}</p>
                <ul>
                    <li>
                        <a
                            href="/About-Jobayan"
                            title="{{_ 'About'}}"
                        >
                            {{_ 'About'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Articles"
                            title="{{_ 'News and Articles'}}"
                        >
                            {{_ 'News and Articles'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Seekers-Search"
                            title="{{_ 'Job Seekers'}}"
                        >
                            {{_ 'Job Seekers'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Search-Companies"
                            title="{{_ 'Companies'}}"
                        >
                            {{_ 'Companies'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/research"
                            title="{{_ 'Research'}}"
                        >
                            {{_ 'Research'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Affordable-Pricing"
                            title="{{_ 'Services and Pricing'}}"
                        >
                            {{_ 'Services and Pricing'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Frequently-Asked-Questions"
                            title="{{_ 'Frequently-Asked-Questions'}}"
                        >
                            {{_ 'FAQ'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Ranks-And-Achievements"
                            title="{{_ 'Ranks And Achievements'}}"
                        >
                            {{_ 'Ranks and Achievements'}}
                        </a>
                    </li>

                    <li>
                        <a
                            href="/Terms-And-Conditions"
                            title="{{_ 'Terms and Conditions'}}"
                        >
                            {{_ 'Terms and Conditions'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Privacy-Policy"
                            title="{{_ 'Privacy Policy'}}"
                        >
                                {{_ 'Privacy Policy'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Contact-Us"
                            title="{{_ 'Contact us'}}"
                        >
                            {{_ 'Contact us'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/press"
                            title="{{_ 'Press Kit'}}"
                        >
                            {{_ 'Press Kit'}}
                        </a>
                    </li>
                </ul>

                <p class="education-label">{{_ 'Education'}}</p>
                <ul>
                    <li>
                        <a href="/Job-Educations/Trinity-Univeristy-Of-Asia">
                            {{_ 'Trinity University of Asia'}}
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END: About US -->
            <!-- START: Locations  -->
            <div class="col-md-2 locations">
                <p data-do="featured-pages" data-on="click">
                    {{_ 'Locations'}}
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </p>
                <ul>
                    <li>
                        <a href="/Job-Locations/Jobs-In-Bicol"
                            title="Bicol Region"
                        >
                            Bicol Region
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Locations/Jobs-In-Cagayan-Valley"
                            title="Cagayan Valley"
                        >
                            Cagayan Valley
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Locations/Jobs-In-Calabarzon"
                            title="Calabarzon Region"
                        >
                            Calabarzon Region
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Locations/Jobs-In-Cdo"
                            title="Cagayan De Oro"
                        >
                            Cagayan De Oro
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Locations/Jobs-In-Cebu-City"
                            title="Cebu City"
                        >
                            Cebu City
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Locations/Jobs-In-Central-Luzon"
                            title="Central Luzon"
                        >
                            Central Luzon
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Locations/Jobs-In-Central-Visayas"
                            title="Central Visayas"
                        >
                            Central Visayas
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Locations/Jobs-In-Cordillera"
                            title="Cordillera Region"
                        >
                            Cordillera Region
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Locations/Jobs-In-Davao"
                            title="Davao Region"
                        >
                            Davao Region
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Locations/Jobs-In-Eastern-Visayas"
                            title="Eastern Visayas"
                        >
                            Eastern Visayas
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Locations/Jobs-In-Ilocos"
                            title="Ilocos Region"
                        >
                            Ilocos Region
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Locations/Jobs-In-Manila"
                            title="Metro Manila"
                        >
                            Metro Manila
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Locations/Jobs-In-Mindanao"
                            title="Mindanao Region"
                        >
                            Mindanao Region
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Locations/Jobs-In-Western-visayas"
                            title="Western Visayas"
                        >
                            Western Visayas
                        </a>
                    </li>

                </ul>
            </div>
            <!-- END: Locations -->
            <!-- START: Industries -->
            <div class="col-md-2 industries">
                <p data-do="featured-pages" data-on="click">
                    {{_ 'Industries'}}
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </p>
                <ul>
                    <li>
                        <a
                            href="/Job-Industries/Jobs-In-Agriculture-Mining"
                            title="{{_ 'Agriculture and Mining'}}"
                        >
                            {{_ 'Agriculture and Mining'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Industries/Jobs-In-Bpo"
                            title="{{_ 'BPO and Call Center'}}"
                        >
                            {{_ 'BPO and Call Center'}}
                        </a>
                    </li>
                    <li>
                       <a
                           href="/Job-Industries/Communications"
                           title="{{_ 'Sales and Marketing'}}"
                       >
                           {{_ 'Communications'}}
                       </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Industries/Jobs-In-Construction"
                            title="{{_ 'Construction'}}"
                        >
                            {{_ 'Construction'}}
                        </a>
                    </li>
                    <li>
                       <a
                           href="/Job-Industries/Education"
                           title="{{_ 'Education'}}"
                       >
                           {{_ 'Education'}}
                       </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Industries/Jobs-In-Finance-Insurance"
                            title="{{_ 'Finance and Insurance'}}"
                        >
                            {{_ 'Finance and Insurance'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Industries/Jobs-In-Healthcare"
                            title="{{_ 'Health Care'}}"
                        >
                            {{_ 'Health Care'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Industries/Jobs-In-Hospitality"
                            title="{{_ 'Hospitality'}}"
                        >
                            {{_ 'Hospitality'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Industries/Jobs-In-Human-Resources"
                            title="{{_ 'Human Resources'}}"
                        >
                            {{_ 'Human Resources'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Industries/Jobs-In-Logistics"
                            title="{{_ 'Logistics'}}"
                        >
                            {{_ 'Logistics'}}
                        </a>
                    </li>
                    <li>
                       <a
                           href="/Job-Industries/Manufacturing-Production-Jobs"
                           title="{{_ 'Manufacturing and Production'}}"
                       >
                           {{_ 'Manufacturing and Production'}}
                       </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Industries/Jobs-In-Real-Estate"
                            title="{{_ 'Real Estate'}}"
                        >
                            {{_ 'Real Estate'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Industries/Jobs-In-Restaurant"
                            title="{{_ 'Restaurant'}}"
                        >
                            {{_ 'Restaurant'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Industries/Jobs-In-Retail"
                            title="{{_ 'Retail'}}"
                        >
                            {{_ 'Retail'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Industries/Jobs-In-Startup"
                            title="{{_ 'Start Ups'}}"
                        >
                            {{_ 'Start Ups'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Industries/Jobs-In-Tech"
                            title="{{_ 'Technology'}}"
                        >
                            {{_ 'Technology'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/Job-Industries/Jobs-In-Poea"
                            title="{{_ 'Work Abroad and POEA'}}"
                        >
                            {{_ 'Work Abroad and POEA'}}
                        </a>
                    </li>



                    {{#each features.industry.rows}}
                    <li>
                        <a
                            href="/Job-Industries/{{this.feature_slug}}"
                            title="{{this.feature_name}}"
                        >
                            {{this.feature_name}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <!-- END: Industries -->
            <!-- START: Postions -->
            <div class="col-md-2 positions">
                <p data-do="featured-pages" data-on="click">
                    {{_ 'Positions'}}
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </p>
                <ul>
                    <li>
                       <a
                           href="/Job-Positions/Accounting-Finance-Jobs"
                           title="{{_ 'Accounting and Finance'}}"
                       >
                           {{_ 'Accounting and Finance'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/Administration-Coordination-Jobs"
                           title="{{_ 'Administration and Coordination'}}"
                       >
                           {{_ 'Administration and Coordination'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/Architecture-Engineering-Jobs"
                           title="{{_ 'Architecture and Engineering'}}"
                       >
                           {{_ 'Architecture and Engineering'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/Customer-Service-Jobs"
                           title="{{_ 'Customer Service'}}"
                       >
                           {{_ 'Customer Service'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/General-Services-Jobs"
                           title="{{_ 'General Services'}}"
                       >
                           {{_ 'General Services'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/Health-Medical-Jobs"
                           title="{{_ 'Health and Medical'}}"
                       >
                           {{_ 'Health and Medical'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/Hospitality-Tourism-Jobs"
                           title="{{_ 'Hospitality and Tourism'}}"
                       >
                           {{_ 'Hospitality and Tourism'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/Human-Resources-Jobs"
                           title="{{_ 'Human Resources'}}"
                       >
                           {{_ 'Human Resources'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/It-Software-Jobs"
                           title="{{_ 'IT and Software'}}"
                       >
                           {{_ 'IT and Software'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/Legal-Services-Jobs"
                           title="{{_ 'Legal Services'}}"
                       >
                           {{_ 'Legal Services'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/Management-Consultancy-Jobs"
                           title="{{_ 'Management and Consultancy'}}"
                       >
                           {{_ 'Management and Consultancy'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/Media-Creatives-Jobs"
                           title="{{_ 'Media and Creatives'}}"
                       >
                           {{_ 'Media and Creatives'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/Safety-Security-Jobs"
                           title="{{_ 'Safety and Security'}}"
                       >
                           {{_ 'Safety and Security'}}
                       </a>
                   </li>
                    <li>
                       <a
                           href="/Job-Positions/Sales-Marketing-Jobs"
                           title="{{_ 'Sales and Marketing'}}"
                       >
                           {{_ 'Sales and Marketing'}}
                       </a>
                    </li>
                   <li>
                       <a
                           href="/Job-Positions/Science-Jobs"
                           title="{{_ 'Science'}}"
                       >
                           {{_ 'Science'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/Skilled-Trade-Jobs"
                           title="{{_ 'Skilled Trade'}}"
                       >
                           {{_ 'Skilled Trade'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/Supply-Chain-Jobs"
                           title="{{_ 'Supply Chain'}}"
                       >
                           {{_ 'Supply Chain'}}
                       </a>
                   </li>
                   <li>
                       <a
                           href="/Job-Positions/Writing-Content-Jobs"
                           title="{{_ 'Writing and Content'}}"
                       >
                           {{_ 'Writing and Content'}}
                       </a>
                   </li>

                </ul>
            </div>
            <!-- END: Positions -->
        </div>
    </div>
</div>
<!-- END: Footer Top -->
<!-- START: Footer Bottom -->
<div class="footer-bottom">
    <div class="container">
        <!-- START: Country -->
        <ul class="country">
            <li>Singapore</li>
            <li>&bull; &nbsp; Hong Kong</li>
            <li>&bull; &nbsp; Korea</li>
            <li>&bull; &nbsp; Thailand</li>
            <li>&bull; &nbsp; Philippines</li>
            <li>&bull; &nbsp; Malaysia</li>
            <li>&bull; &nbsp; Myanmar</li>
            <li>&bull; &nbsp; Vietnam</li>
        </ul>
        <!-- END: Country -->
        <!-- START: Copyright -->
        <div class="copyright">
            Copyright &copy; Sterling Openovate Corp 2017 - 2018
        </div>
        <!-- END: Copyright -->
    </div>
</div>
<!-- END: Footer Bottom -->
