<!-- Match and Likes Restrict Modal -->
<div id="match-likes-restrict" class="match-likes-restrict modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    {{_ 'There might be a gem here!
                    To have access to forms,
                    we recommend to upgrade your account'}}
                </div>
            </div>
            <div class="modal-body">
                {{_ 'To request activation of this feature in your dashboard, email'}}
                <a href="mailto:business@jobayan.com">business@jobayan.com</a>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" data-dismiss="modal">
                    {{_ 'No thanks, I'd rather stay free'}}
                </a>
            </div>
        </div>
    </div>
</div>
