<div class="modal fade profile-completeness-modal" id="profile-completeness-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title text-uppercase">
                    <h1>job hunting mode: on</h1>
                </div>
            </div>
            <div class="modal-body text-center">
                <div class="col-md-12">
                    <span>
                        Increase your chances of getting noticed by companies. Let companies or recruiters
                        get to know your skills, work experience and background in one look.
                    </span>
                </div>
                <div class="image col-md-4">
                    <img src="/images/seeker-avatar.png" alt="seeker avatar">
                </div>
                <div class="col-md-8">
                    <span>Don't have a resume yet?</span>
                    <br />
                    <span>
                        <strong>
                            Create one without a hassle!
                        </strong>
                    </span>
                    <br />
                    <br />
                    <span>
                        Have you already uploaded your resume in Jobayan?
                        Choose which resume would you want to turn into your
                        Jobayan Profile. Your new profile can now be downloaded
                        as your resume.  
                    </span>
                    <!-- START: Footer -->
                    <div class="modal-footer text-uppercase">
                        <div>
                            <a
                                class="btn btn-default"
                                href="/profile/information"
                                title="{{_ 'Update Profile'}}"
                            >
                                {{_ 'Update My Profile'}}
                            </a>
                        </div>
                        <button
                            class="btn btn-primary"
                            data-dismiss="modal"
                            type="button"
                        >
                            {{_ 'Close'}}
                        </button>
                    </div>
                    <!-- END: Footer -->
                </div>
            </div>

        </div>
    </div>
</div>
