<div class="grey-bg">
    <div class="affordable-body static">
        <!-- START: affordable-price-heading -->
        <div class="affordable-price-heading text-center">
            <div class="container">
                <h1>
                    Affordable Pricing, Pay as you go,
                </h1>
                <h1>
                    No Subscriptions, No Surprise Cost.
                </h1>

                <div>
                <hr />
            </div>

                <p>
                    Address your immediate job hiring needs with Jobayan’s low-cost job post packages
                    and services catered as an inexpensive yet powerful resource for different types
                    of businesses. Our on-the-go job promotion tools bridge seamless solutions to
                    maximize job seeker engagement.
                </p>
                <a href="/contact-us?request=demo">
                    <input
                        class="btn btn-default"
                        type="submit"
                        value="REQUEST A DEMO TODAY"
                    />
                </a>
        </form>
            </div>
        </div>

        <!-- END: affordable-price-heading -->
        <!-- START: promoted-post -->
        <div class="promoted-post padding">
            <div class="section-end"></div>
            <div class="container">
                <!-- <div class="col-md-6 image-square"> -->
                <div class="col-md-6">
                    <div class="image-container">
                        <img src="{{config 'cdn'}}/images/affordable-pricing/promoted.png" />
                    </div>
                </div>
                <div class="col-md-6 text">
                    <div class="text-title">
                        <span>Sponsored Post</span>
                    </div>
                    <div class="text-credits">
                        <span>500 credits</span>
                    </div>
                    <div class="text-description">
                        <span>
                            Need more exposure for your job post? Promoting a post is an easy and cost-effective way to reach talents. Make your job post more visible on Jobayan’s job listings.
                            <br />
                            <br />
                            Promoted posts are guaranteed increased visibility for a month.
                        </span>
                    </div>
                </div>
            </div>
            <div class="section-end">
                <hr class="lining"/>
            </div>
        </div>
        <!-- END: promoted-post -->
        <!-- START: sms-resume-pricing -->
        <div class="sms-resume-pricing padding">
            <div class="container">
                <div class="col-md-4 text-center">
                    <div>
                        <img src="{{config 'cdn'}}/images/affordable-pricing/resume_dl.png" />
                    </div>
                    <div class="text-title">
                        <span>Resume <br /> Download</span>
                    </div>
                    <div class="text-credits">
                        <span>&nbsp;10 credits&nbsp;</span>
                    </div>
                    <div class="text-description">
                        <span>
                            <strong>Know your applicants!</strong>
                            <br />
                            <br />
                            <br />
                            For only 10 credits per download, you can now acquire their resume
                            to better understand skills and talents.
                        </span>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div><!-- <div class="image-circle">-->
                        <img src="{{config 'cdn'}}/images/affordable-pricing/sms_match.png" />
                    </div>
                    <div class="text-title">
                        <span>SMS Match<br />Notification</span>
                    </div>
                    <div class="text-credits">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;300 credits&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <div class="text-description">
                        <span>
                            <strong>Get immediate updates on potential talent!</strong>
                            <br />
                            <br />
                            For only 300 credits per post, you can

                            now receive match notifications via SMS

                            for a month anytime, anywhere without

                            the need to click interested button on

                            job seekers.
                        </span>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div>
                        <img src="{{config 'cdn'}}/images/affordable-pricing/sms_interested.png" />
                    </div>
                    <div class="text-title">
                        <span>SMS Interested <br />Notification</span>
                    </div>
                    <div class="text-credits">
                        <span>500 credits</span>
                    </div>
                    <div class="text-description">
                        <span>
                            <strong>It’s nice to know there are new applicants on the way!</strong>
                            <br />
                            <br />
                            For only 500 credits per post, you don’t need to go online to check
                            interested candidates. You can now receive notifications via SMS for
                            a month from each job seekers that are interested on your job post.
                        </span>
                    </div>
                </div>
            </div>
            <div class="section-end">
                <hr class="lining"/>
            </div>
        </div>
        <!-- END: sms-resume-pricing -->
        <!-- START: attach-application -->
        <div class="attach-application padding">
            <div class="container">
                <div class="col-md-6 text">
                    <div class="text-title">
                        <span>Attach Application Form</span>
                    </div>
                    <div class="text-credits">
                        <span>500 Credits</span>
                    </div>
                    <div class="text-description">
                        <span>
                            Let’s make better opportunities together!
                            <br />
                            <br />
                            For only 500 credits per post, we can direct applicants to your
                            company easier by enabling an application section.
                            <br />
                            <br />
                            Want an upgraded subscription to this feature?
                        </span>
                        <div class="text-center">
                            <a href="/contact-us?request=quote">
                                <input class="btn btn-default quotation" type="submit" value="Get a Quotation">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6 image-square"> -->
                <div class="col-md-6">
                    <div class="image-container">
                        <img src="{{config 'cdn'}}/images/affordable-pricing/attach_application.png" />
                    </div>
                </div>

            </div>
            <div class="section-end">
                <hr />
            </div>
        </div>
        <!-- END: attach-application -->
        <!-- START: interview-scheduler -->
        <div class="interview-scheduler padding">
            <div class="container">
                <div class="col-md-6">
                    <div class="image-container">
                        <img src="{{config 'cdn'}}/images/affordable-pricing/interview_scheduler.png" />
                    </div>
                </div>
                <div class="col-md-6 text">
                    <div class="text-title">
                        <span>Activate Interview Scheduler</span>
                    </div>
                    <div class="text-credits">
                        <span>500 Credits</span>
                    </div>
                    <div class="text-description">
                        <span>
                            Enable Activate Interview Scheduler to help you manage screening the
                            candidate and progress stages accordingly.
                            <br />
                            <br />
                            Want an upgraded subscription to this feature?
                        </span>
                        <div class="text-center">
                            <a href="/contact-us?request=quote">
                                <input class="btn btn-default quotation" type="submit" value="Get a Quotation">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-end">
                <hr class="lining"/>
            </div>
        </div>
        <!-- END: interview-scheduler -->
        <!-- START: chatbot-usage -->
        <div class="chatbot-usage padding">
            <div class="container">
                <div class="col-md-6 text">
                    <div class="text-title">
                        <span>Chatbot Usage</span>
                    </div>
                    <div class="text-credits">
                        <span>Coming soon!</span>
                    </div>
                    <div class="text-description">
                        <span>
                            Engage with social active Job seekers for only 200 credits per job
                            post!
                            <br />
                            <br />
                            With chatbot integration in our Facebook page, connect with social media savvy
                            applicants through priority promotion in facebook messenger whenever Job Seekers
                            chat with Jobayan.
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image-container">
                        <img src="{{config 'cdn'}}/images/affordable-pricing/jobot.png" />
                    </div>
                </div>
            </div>
            <div class="section-end">
                <hr class="lining"/>
            </div>
        </div>
        <!-- END: chatbot-usage -->
        <!-- START: verified-badge and featured email campaign -->
        <div class="sms-resume-pricing padding">
            <div class="container">
                <div class="col-md-6 text-center">
                    <div>
                        <img src="{{config 'cdn'}}/images/affordable-pricing/badge.png" />
                    </div>
                    <div class="text-title">
                        <span>Verified <br />Badge</span>
                    </div>
                    <div class="text-credits">
                        <span>500 credits</span>
                    </div>
                    <div class="text-description">
                        <span>
                            <strong>Showcase to everyone that you are indeed an authentic direct
                                hiring company!
                            </strong>
                            <br />
                            <br />
                            For only 500 credits per post, Verified Badge lets people know that
                            an account of public interest is authentic.
                        </span>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div><!-- <div class="image-circle">-->
                        <img src="{{config 'cdn'}}/images/affordable-pricing/email_campaign.png" />
                    </div>
                    <div class="text-title">
                        <span>
                            Featured Email
                            <br />
                            Campaign
                        </span>
                    </div>
                    <div class="text-credits">
                        <span>5000 credits</span>
                    </div>
                    <div class="text-description">
                        <span>
                            <strong>Let us promote your job ad to qualified Job Seekers on
                                Jobayan databank!
                            </strong>
                            <br />
                            <br />
                            With featured email campaign, our marketing team will write a bespoke
                            article and promote your post to actively looking for jobs candidates
                            based on job description and geographic reach.
                        </span>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div><!-- <div class="image-circle">-->
                        <img src="{{config 'cdn'}}/images/affordable-pricing/featured-sms.png" />
                    </div>
                    <div class="text-title">
                        <span>
                            Featured
                            <br />
                            SMS Campaign
                        </span>
                    </div>
                    <div class="text-credits">
                        <span>500 credits</span>
                    </div>
                    <div class="text-description">
                        <span>
                            <strong>
                                The talent you are looking for can be 1 SMS
                                <br>
                                away!
                            </strong>
                            <br />
                            <br />
                            Be up close and personal with your target talents! For 500 credits,
                            let 100 job seekers know about and click on your job post in Jobayan.
                        </span>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div><!-- <div class="image-circle">-->
                        <img src="{{config 'cdn'}}/images/affordable-pricing/featured-facebook.png" />
                    </div>
                    <div class="text-title">
                        <span>
                            Featured
                            <br />
                            Facebook Campaign
                        </span>
                    </div>
                   <!--  <div class="text-credits"> -->
                        <!-- <span>500 credits</span> -->
                        <a href="/contact-us?request=quote">
                            <input
                                class="btn btn-default quotation"
                                type="submit"
                                value="Get a Quotation"
                            />
                        </a>
                   <!--  </div> -->
                    <div class="text-description fb-campaign">
                        <span>
                            <strong>
                                Does your company's job vacancy need more
                                <br>
                                awareness? Jobayan to the rescue!
                            </strong>
                            <br />
                            <br />
                            Getting the right kind of applicants online ain't easy! Allow us to
                            help you narrow down your candidate search by helping your company have a
                            good awareness strategy and execution on Facebook.
                        </span>
                    </div>
                </div>
            </div>
        <!-- END: verified-badge and featured email campaign -->
        <!-- START: request-demo -->
        <div class="request-demo text-center">
            <div class="container">
                <h3>
                    Join the fastest growing  job community in the Philippines.
                    <br />
                    <br />
                    Get Started with Jobayan.
                </h3>
                <a href="/contact-us?request=demo">
                    <input
                        class="btn btn-default"
                        type="submit"
                        value="REQUEST A DEMO TODAY"
                    />
                </a>
            </div>
        </div>
        <!-- END: request-demo -->
    </div>
</div>
