<div class="auth-claim-body">
    <div class="auth-claim-head container">
        <img
            alt="Jobayan Logo"
            src="{{config 'cdn'}}/images/home/jobayan_logo_white_orange.png"
        />
        <p>
            {{_ 'is a simple way to connect to job seekers and job posters'}}
        </p>
    </div>
    <div class="auth-claim-form container">
        <ul class="auth-claim-avatar">
            <li>
                <img
                    src="{{default_avatar item.profile_id}}"
                    alt="{{_ 'Jobayan Default Avatar'}}"
                />
            </li>
            <li>
                <i class="fa fa-long-arrow-right"></i>
            </li>
            <li>
                <img
                    src="{{default_avatar item.profile_id}}"
                    alt="{{_ 'Jobayan Default Avatar'}}"
                />
            </li>
        </ul>
        <h1>{{_ 'Claim your profile'}}</h1>
        <p>
            {{{_ 'Sign up now and enjoy the <strong>free access</strong>
            to job seekers and get connected to applicants!'}}}
        </p>
        <!-- START: Auth Signup Form -->
        <form method="post">
            <!-- START: Profile Name -->
            <div class="form-group{{#if errors.profile_name}} has-error{{/if}}">
                <input
                    class="form-control"
                    name="profile_name"
                    placeholder="{{_ 'Name'}}"
                    type="text"
                    value="{{profile.profile_name}}"
                />
                {{#if errors.profile_name}}
                <span class="help-text">{{errors.profile_name}}</span>
                {{/if}}
            </div>
            <!-- END: Profile Name -->
            <!-- START: Profile Email -->
            <div class="form-group{{#if errors.profile_email}} has-error{{/if}}">
                <input
                    class="form-control"
                    name="profile_email"
                    placeholder="{{_ 'E-mail'}}"
                    type="email"
                    value="{{profile.profile_email}}"
                />
                {{#if errors.profile_email}}
                    <span class="help-text">
                        {{errors.profile_email}}
                    </span>
                {{/if}}
            </div>
            <!-- END: Profile Email -->
            <!-- START: Auth Password -->
            <div class="form-group{{#if errors.auth_password}} has-error{{/if}}">
                <input
                    class="form-control"
                    name="auth_password"
                    placeholder ="{{_ 'Password'}}"
                    type="password"
                    value="{{item.auth_password}}"
                />
                {{#if errors.auth_password}}
                    <span class="help-text">
                        {{errors.auth_password}}
                    </span>
                {{/if}}
            </div>
            <!-- END: Auth Password -->
            <!-- START: Confirm Password -->
            <div class="form-group{{#if errors.confirm}} has-error{{/if}}">
                <input
                    class="form-control"
                    data-do="password-strength"
                    data-on="keyup"
                    id="pass-strength"
                    name="confirm"
                    placeholder="{{_ 'Confirm'}}"
                    type="password"
                    value="{{item.confirm}}"
                />

                {{#if errors.confirm}}
                    <span class="help-text">
                        {{errors.confirm}}
                    </span>
                {{/if}}
            </div>
            <div class="text-center divide">
                <div id="divider-1" class="divider"></div>
                <div id="divider-2" class="divider"></div>
                <div id="divider-3" class="divider"></div>
                <div id="divider-4" class="divider"></div>
                <div id="divider-5" class="divider"></div>
            </div>
            <div class="password-characters text-center">
                <em>
                    {{_ "Password must be at least 7 characters long, and
                    can't be things like 123456 and abcdefg"}}
                </em>
            </div>
            <!-- END: Confirm Password -->
            {{#if captcha}}
                <!-- START: Captcha -->
                <script
                    type="text/javascript"
                    src="https://www.google.com/recaptcha/api.js"
                >
                </script>
                <div class="form-group {{#if errors.captcha}} has-error{{/if}}">
                    <div class="g-recaptcha" data-sitekey="{{captcha}}">
                    </div>
                    {{#if errors.captcha}}
                        <span class="help-text">
                            {{errors.captcha}}
                        </span>
                    {{/if}}
                </div>
                <!-- END: Captcha -->
            {{/if}}
            <!-- START: Form Submit -->
            <div class="claim-form-group text-center">
                <input type="hidden" name="csrf" value="{{csrf}}" />
                <input
                    type="hidden"
                    name="profile"
                    class="form-control"
                    value="{{profile_id}}"
                />
                <button
                    class="btn btn-default text-uppercase"
                >
                    {{_ 'Create Account'}}
                </button>
            </div>
            <!-- END: Form Submit -->
        </form>
        <!-- END: Auth Signup Form -->
    </div>
</div>
