<div class="coming-soon-body" data-do="background-move">
    <div class="wrapper-404">
        <div>
        <img
            class="parachute"
            src="{{config 'cdn'}}/images/parachute.png"
            alt="parachute"
            class="img-responsive"
            >
        <center>
            <div class="center-notice">
                <div class="center-logo">
                    <img
                        src="{{config 'cdn'}}/images/logo.png"
                        alt="parachute"
                        class="img-responsive logo"
                    >
                </div>
                <div class="coming-soon-notice">
                    <h1 class="text-uppercase">Page Coming Soon!</h1>
                </div>
                <div class="email-form">
                    We are currently working on this page
                <br />
                    Enter your email address to get the latest updates.
                <form
                    class="nobottommargin"
                    id="widget-subscribe-form" action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdHnRFHtmSD-Ep8w0x-K2tIcV-f-2KlYW8QfPwgG5sbYOtrbg/formResponse"
                    method="get"
                    role="form"
                    target="gdocs-frame"
                >
                    <input type="hidden" name="fvv" value="1" />
                    <input
                        name="draftResponse"
                        type="hidden"
                        value="[null,null,&quot;-5310195544633818584&quot;]"
                    />
                    <input type="hidden" name="pageHistory" value="0" />
                    <input type="hidden" name="fbzx" value="-5310195544633818584" />
                    <div class="input-group">

                    <!-- breakpoint -->

                    <input
                        class="email"
                        name="entry.1160409630"
                        placeholder="Email Address"
                        required
                        type="email"
                    >
                    <div>
                        <button type="submit" class="btn-notify">NOTIFY ME</button>
                    </div>
                </form>
                </div>
            </div>
        </center>
        </div>
    </div>
</div>
