<div class="container">
	<div class="row">
		<div class="col-md-8 col-centered">
			<div class="faq-title-container">
				<div class="faq-title">Frequently Asked Questions</div>
			</div>
			<div class="collapsible-container">
				<div 
					aria-multiselectable="true"
					class="panel-group" 
					id="accordion" 
					role="tablist" 
				>
			        <div class="panel panel-default panel-main">
			            <div class="panel-heading" id="headingOne" role="tab">
			                <h1 class="panel-title">
			                	<a>Get to know all about Jobayan</a>
			                </h1>
			            </div>
			            <div role="tabpanel">
			                <div class="panel-body">
			                	Jobayan is a product of Openovate Labs,  
								a full stack technology company that develops apps, 
								companies and game changers.   
								It is made initially as an alternative channel for technology-based companies, 
								startups, and non-corporate companies like ours to quickly find fresh and savvy talent easily.
								We aim to shape Jobayan not as another job search engine. 
								By allowing job seekers to promote their preferred job roles in the platform, 
								it becomes a job community where <strong>getting hired and finding candidates are easy</strong>. 
								Recruiters and job seekers match and connect with each other to make job hunting more social.
								Since operationalizing it on September 2017, almost <strong>20,000 potential job seekers</strong>  
								have signed up and <strong>14,000 companies</strong> providing job opportunities in the platform.
			                </div>
			            </div>
			        </div>
					
					<!-- Job Seekers -->
					<div class="panel panel-default panel-main">
						<div class="panel-heading" role="tab">
							<h2 class="panel-title panel-title-main">
								<a>Getting started in finding jobs</a>
							</h2>
						</div>
					</div>
					
			        <div class="panel panel-default">
			            <div class="panel-heading" id="headingTwo" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseTwo"
			                    	aria-expanded="false" 
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseTwo"  
			                    	role="button" 	
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I sign up?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingTwo"
			            	class="panel-collapse collapse"
			            	id="collapseTwo"
			            	role="tabpanel" 
			            >
			                <div class="panel-body">
								Click the 
								<button class="btn btn-default">{{_ 'Sign Up'}}</button>
								button in the upper right corner of the site. <br />
								Enter your <strong>Name, Email, Password</strong>, click the <strong>captcha button</strong> 
								and click <button class="btn btn-default">{{_ 'Create Account'}}</button>
			                 	or sign up via Facebook or Linkedin.
			                </div>
			            </div>
			        </div>
			        <div class="panel panel-default">
			            <div class="panel-heading" id="headingThree" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseThree"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseThree"  
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I search for a job?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingThree"
			            	class="panel-collapse collapse"
			            	id="collapseThree" 
			            	role="tabpanel" 
			            >
			                <div class="panel-body">
			                    In the search bar, you may enter the job position,
								location, or company you are looking for and press enter 
								or click the the search icon. <br />
								*You don’t have to be logged in to view the search results.
			                </div>
			            </div>
			        </div>
			        <div class="panel panel-default">
			            <div class="panel-heading" id="headingFour" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseFour"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseFour"  
			                    	role="button"  	
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I search for a company/recruiter?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingFour"
			            	class="panel-collapse collapse"
			            	id="collapseFour" 
			            	role="tabpanel" 
			            >
			                <div class="panel-body">             
								In the search bar, you may enter the name of the company or recruiter 
								and location you are looking for and press enter 
								or click the the search icon. <br />
								*You don’t have to be logged in to view the search results.

			                </div>
			            </div>
			        </div>
			        <div class="panel panel-default">
			            <div class="panel-heading" id="headingFive" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseFive"
			                    	aria-expanded="false"
			                    	class="collapsed" 
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseFive" 
			                    	role="button" 	
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I show interest in a job posting?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingFive"
			            	class="panel-collapse collapse" 
			            	id="collapseFive" 
			            	role="tabpanel"     	
			            >
			                <div class="panel-body">         
								To show interest in a job post, click the 
								<span class="interested">
									<i aria-hidden="true" class="fa fa-heart-o fa-fw"></i>
		                    		{{_ 'Interested'}}
								</span>
								button at the bottom right of every job posting. 
								The company/recruiter will receive an email where your 
								contact details are provided. <br />
								*You have to be logged in to show interest in a job posting. 
								To log in, click the login button at the upper right corner of the site or simply 
								click the 
								<span class="interested">
									<i aria-hidden="true" class="fa fa-heart-o fa-fw"></i>
			                   		{{_ 'Interested'}} 
								</span>
								button and it will redirect you to the log in page.
			                </div>
			            </div>
			        </div>
			        <div class="panel panel-default">
			            <div class="panel-heading" id="headingSix" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseSix"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseSix"  
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I post as a job seeker?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingSix"
			            	class="panel-collapse collapse" 
			            	id="collapseSix" 
			            	role="tabpanel"
			            >
			                <div class="panel-body">
			                    Click <button class="btn btn-default">{{_ 'Sign Up'}}</button> button. <br />
								<span class="space-bet-buttons"> Enter your <strong>Name</strong>, the <strong>Position</strong> you want to apply for,
								and in what <strong>Location</strong>. </span>
								Click <button class="btn btn-default">{{_ 'Match me up'}}</button> button.
			                </div>
			            </div>
			        </div>
					<div class="panel panel-default">
			            <div class="panel-heading" id="headingSeven" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseSeven"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseSeven"
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I know if a company/recruiter is interested in me?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingSeven"
			            	class="panel-collapse collapse" 
			            	id="collapseSeven"
			            	role="tabpanel"
			            >
			                <div class="panel-body">
			                    When a company/recruiter is interested in you, you will receive an email or an SMS.<br />
								You can reach out to them through the contact details provided.<br />
								<strong>PRO TIP:</strong> We recommend you include for full name, contact details, 
								and resume when replying via email to a company that is interested in you.
			                </div>
			            </div>
			        </div>
					<div class="panel panel-default">
			            <div class="panel-heading" id="headingEight" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseEight"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseEight"
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        Do I need to upload my resume?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingEight"
			            	class="panel-collapse collapse" 
			            	id="collapseEight"
			            	role="tabpanel"
			            >
			                <div class="panel-body">
			                   Uploading a resume is optional but it will help get you a better chance to get matched.<br /> 
							   Resume can only be viewed and downloaded by verified companies.
			                </div>
			            </div>
			        </div>
					<div class="panel panel-default">
			            <div class="panel-heading" id="headingNine" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseNine"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseNine"
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        The position I am looking for is not in the Jobayan list. Can I still post it?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingNine"
			            	class="panel-collapse collapse" 
			            	id="collapseNine"
			            	role="tabpanel"
			            >
			                <div class="panel-body">
			                    Definitely! The positions in our dropdown list serve as guide.
			                </div>
			            </div>
			        </div>
					
					<!-- Looking for Employees -->
					<div class="panel panel-default panel-main">
						<div class="panel-heading" role="tab">
							<h2 class="panel-title panel-title-main">
								<a>Getting started in finding employees</a>
							</h2>
						</div>
					</div>
					
					<div class="panel panel-default">
			            <div class="panel-heading" id="headingTen" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseTen"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseTen"
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I sign up?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingTen"
			            	class="panel-collapse collapse" 
			            	id="collapseTen"
			            	role="tabpanel"
			            >
			                <div class="panel-body">
			                    Click the <button class="btn btn-default">{{_ 'Sign Up'}}</button> 
								button in the upper right corner of the site.<br />
								Enter your <strong>Name, Email, Password</strong>, click the <strong>captcha button</strong>
								and click <button class="btn btn-default">{{_ 'Create Account'}}</button> or sign up via Facebook or Linkedin.<br />
								<strong>PRO TIP:</strong> Make Sure you click on the EMPLOYER tab 
								under Create Account in the Sign up page.
			                </div>
			            </div>
					</div>
					<div class="panel panel-default">
			            <div class="panel-heading" id="headingEleven" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseEleven"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseEleven"
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I search for a Job Seeker?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingEleven"
			            	class="panel-collapse collapse" 
			            	id="collapseEleven"
			            	role="tabpanel"
			            >
			                <div class="panel-body">
								In the search bar, you may enter the name of the of the position,
							  	field or name of the job seeker and location you are looking for 
							  	and press enter or click the the search icon.<br />
							  	*You don’t have to be logged in to view the search results.
			                </div>
			            </div>
					</div>
					<div class="panel panel-default">
			            <div class="panel-heading" id="headingTwelve" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseTwelve"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseTwelve"
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I show interest in a Job Seeker?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingTwelve"
			            	class="panel-collapse collapse" 
			            	id="collapseTwelve"
			            	role="tabpanel"
			            >
			            	<div class="panel-body">
			                	To show interest in a job seeker, click the  
								<span class="interested">
									<i aria-hidden="true" class="fa fa-heart-o fa-fw"></i>
		                    		{{_ 'Interested'}}
								</span>
								 button at the bottom right of every job posting. 
								 The job seeker will receive an email where your 
								 contact details are provided. <br />
								 *You have to be logged in to show interest in a job posting. To log in, click the 
								 login button at the upper right corner of the site or simply click the
								 <span class="interested">
 									<i aria-hidden="true" class="fa fa-heart-o fa-fw"></i>
 		                    		{{_ 'Interested'}}
 								</span>
								button and it will redirect you to the log in page.
			                </div>
			            </div>
					</div>
					<div class="panel panel-default">
			            <div class="panel-heading" id="headingThirteen" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseThirteen"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseThirteen"
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I know if a job seeker is interested in me/us?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingThirteen"
			            	class="panel-collapse collapse" 
			            	id="collapseThirteen"
			            	role="tabpanel"
			            >
			                <div class="panel-body">
			                    There are many ways for you to be notified:<br />
								<strong>Via email - </strong>You will receive an email where the contact details 
								of the interested job seeker are provided. <br />
								<strong>Via SMS  - </strong>For only 500 credits per post, 
								you don’t need to go online to check interested candidates. 
								You can now receive notifications via SMS for a month from each job seekers 
								that are interested on your job post.
			                </div>
			            </div>
					</div>
					<div class="panel panel-default">
			            <div class="panel-heading" id="headingFourteen" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseFourteen"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseFourteen"
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I know if my job posting 
									matched with a job seeker’s post?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingFourteen"
			            	class="panel-collapse collapse" 
			            	id="collapseFourteen"
			            	role="tabpanel"
			            >
			                <div class="panel-body">
			                    There are many ways for you to be notified:<br />
								<strong>Via email  - </strong>You will receive an email containing the 
								job postings that matched with your post.<br />
								<strong>Via SMS  - </strong>For only 300 credits per post, 
								you can now receive match notifications via SMS for a month anytime, 
								anywhere without the need to click interested button on job seekers.
			                </div>
			            </div>
					</div>
					<div class="panel panel-default">
			            <div class="panel-heading" id="headingFifteen" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseFifteen"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseFifteen"
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I buy credits?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingFifteen"
			            	class="panel-collapse collapse" 
			            	id="collapseFifteen"
			            	role="tabpanel"
			            >
			                <div class="panel-body">
								You may buy credits by logging in to your account. An
								<button class="btn btn-default">
									<i class="fa fa-shopping-cart"></i> Add Credits
								</button>
								button will appear at the upper right hand corner 
								near your profile icon when you hover your cursor to your credit amount.<br />
								You will be redirected to the Buy Credits page where 
								you can enter your credit card details and amount you want to purchase.
			                </div>
			            </div>
					</div>
					<div class="panel panel-default">
			            <div class="panel-heading" id="headingSixteen" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseSixteen"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseSixteen"
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I use my credits?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingSixteen"
			            	class="panel-collapse collapse" 
			            	id="collapseSixteen" 
			            	role="tabpanel"
			            >
			                <div class="panel-body">
			                    You can use your credits to promote a post, 
								download resumes, enable paid features such as 
								SMS notification and many more! <br />
								Visit our Services and Pricing page for more details.
			                </div>
			            </div>
					</div>
					<div class="panel panel-default">
			            <div class="panel-heading" id="headingSeventeen" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseSeventeen"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseSeventeen"
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I promote a post?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingSeventeen"
			            	class="panel-collapse collapse" 
			            	id="collapseSeventeen"
			            	role="tabpanel"
			            >
			                <div class="panel-body">
			                    You can promote your post by either searching for 
								your post in the listings or choose the post you want 
								to promote in your posts dashboard and click Promote button. 
								You can access your posts dashboard by clicking onto your 
								profile icon at the upper right hand corner and choosing Posts 
								from the dropdown list. <br />
								You need to have 500 credits to promote a post.
			                </div>
			            </div>
					</div>
					<div class="panel panel-default">
			            <div class="panel-heading" id="headingEighteen" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapseEighteen"
			                    	aria-expanded="false"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapseEighteen"
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I download a job seeker’s resume?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="headingEighteen"
			            	class="panel-collapse collapse" 
			            	id="collapseEighteen"
			            	role="tabpanel"
			            >
			                <div class="panel-body">
			                    You can download a job seeker’s resume by clicking the  
								<span class="resume">
	                                <i class="fa fa-download" aria-hidden="true">
	                                </i> {{_ 'Resume'}}
	                            </span>
							 
								button of the job seeker who is interested in you. <br />
								You may view the list of job seekers who are interested in you by clicking 
								<span class="interested">
									<i aria-hidden="true" class="fa fa-heart-o fa-fw"></i>
									{{_ 'Interested'}}
								</span>
								in the dropdown list when you click your profile in the upper right corner.

			                </div>
			            </div>
					</div>
					<div class="panel panel-default">
			            <div class="panel-heading" id="heading" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapse19"
			                    	aria-expanded="true"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapse19"
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I get a verified badge?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="heading19"
			            	class="panel-collapse collapse" 
			            	id="collapse19"
			            	role="tabpanel"
			            >
			                <div class="panel-body">
			                    To have your employer account reviewed for a verified badge, you may send an email to
								<a href="mailto:business@jobayan.com">
									business@jobayan.com
								</a>. <br />
								Our business team will review the accounts eligibility 
								in order to avoid fraudulent accounts. 
								May require additional documents if deemed necessary.
			                </div>
			            </div>
					</div>
					<div class="panel panel-default">
			            <div class="panel-heading" id="heading20" role="tab">
			                <h3 class="panel-title">
			                    <a 
			                    	aria-controls="collapse20"
			                    	aria-expanded="true"
			                    	class="collapsed"
			                    	data-do="show-collapse"
			                    	data-on="click"
			                    	data-parent="#accordion"
			                    	data-toggle="collapse"
			                    	href="#collapse20"
			                    	role="button"
			                    >
			                        <i class="glyphicon glyphicon-plus pull-right">
			                        	
			                        </i>
			                        How do I avail the featured email campaign?
			                    </a>
			                </h3>
			            </div>
			            <div 
			            	aria-labelledby="heading20"
			            	class="panel-collapse collapse" 
			            	id="collapse20"
			            	role="tabpanel"
			            >
			                <div class="panel-body">
			                    To request for your own featured email campaign, 
								you may send an email to 
								<a href="mailto:business@jobayan.com">
									business@jobayan.com
								</a>
								. Our business team would be happy to tailor fit 
								a service for your recruitment needs.
			                </div>
			            </div>
					</div>
			    </div>
			</div>
		</div>
	</div>
</div>