<!-- START: Maintenance Body -->
<div class="body-maintenance" data-do="background-move">
    <div class="wrapper-maintenance">
        <div class="container">
            <div class="col-sm-6 col-md-6 col-xs-12 maintenance-right">
                <img alt="Jobayan Maintenance"
                     class="img-responsive"
                     src="{{config 'cdn'}}/images/maintenance.png"
                />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-sm-pull-2 col-md-pull-0 col-lg-pull-2">
                <div class="text-maintenance text-center">
                    <h2>{{_ "Generating someting awesome!"}}</h2>
                    <p>{{_ "Be back in a few. If you want to create a job post, search for
                        jobs or talents or even apply, feel free to hit us a message"}}
                    </p><br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: maintenance Page -->