<div class="container-1">
    <div class="container">
        <div class="col-md-1 filler"></div>
        <div class="col-md-10">

            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Jobayan Logo and Usage
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-1 filler"></div>
                    <div class="col-md-11 symbol">
                        <img
                            alt="symbol"
                            src="/images/presskit/Symbol_2-1.png"
                        >
                    </div>
                </div>
                <div class="col-md-6">
                    <p>
                        The Jobayan logo is made up of 3 colors, Blue, Light Blue and Orange. The two hues of blue are used to distinguish the words "Job" and "Ayan". More description about the symbolism of the word and the logo.
                    </p>

                    <p>
                        A stylized "J" shaped like a partially folded necktie serves as the first letter of the logo, and at the same time symbolizes the essence of Jobayan which provides people with all kinds of employment opportunities.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-1 filler"></div>
    </div>
</div>
<div class="container main">
<div class="row">
    <div class="col-md-2 filler"></div>
    <!--START: Middle Content  -->
    <div class="col-md-8 mid-content">

        <div class="container-2">
            <div class="download-logo">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            Download our Logo
                        </h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>
                            We are beyond happy to know you're featuring us on your own platform.
                            <br /> Below is a compilation of our logo and a guide on logo treatments. Thank you for
                            choosing Jobayan!
                        </p>
                    </div>
                </div>

                <div class="row logo-dl">
                    <div class="col-md-4">
                        <div class="item">
                            <img
                                alt="56"
                                src="/images/presskit/Symbol 56.png"
                            >
                        </div>
                        <div class="download-box">
                            <a
                                href="/images/presskit/Symbol 56.png"
                                target="_blank"
                            >
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Download
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="item">
                            <img
                                alt="slogan"
                                class="slogan"
                                src="/images/presskit/jobayan_logo_slogan_bottom.png"
                            >
                        </div>
                        <div class="download-box">
                            <a
                                href="/images/presskit/jobayan_logo_slogan_bottom.png"
                                target="_blank"
                            >
                                <i
                                    aria-hidden="true"
                                    class="fa fa-download"
                                    ></i>
                                Download
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="item items-img">
                            <img
                                alt="514"
                                class="J"
                                src="/images/presskit/Group_514.png"
                            >
                        </div>
                        <div class="download-box">
                            <a
                                href="/images/presskit/Group_514.png"
                                target="_blank"
                            >
                                <i
                                    aria-hidden="true"
                                    class="fa fa-download"
                                    ></i>
                                Download
                            </a>
                        </div>
                    </div>
            </div>
            </div>

            <div class="other-variations">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            Other variations available for download
                        </h2>
                    </div>
                </div>
                <div class="row row-1">
                    <div class="col-md-4">
                        <div class="variation gray">
                            <img
                                alt="505"
                                src="/images/presskit/Group 505.png"
                            >
                        </div>
                        <div class="download-box">
                            <a
                                href="/images/presskit/Group 505.png"
                                target="_blank"
                            >
                                <i
                                    aria-hidden="true"
                                    class="fa fa-download"></i>
                                Download
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="variation">
                            <img
                                alt="506"
                                src="/images/presskit/Group 506.png"
                            >
                        </div>
                        <div class="download-box">
                            <a
                                href="/images/presskit/Group 506.png"
                                target="_blank"
                            >
                                <i
                                    aria-hidden="true"
                                    class="fa fa-download"></i>
                                Download
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="variation gray">
                            <img
                                alt="506"
                                src="/images/presskit/Group_503.png"
                            >
                        </div>
                        <div class="download-box">
                            <a
                                href="/images/presskit/Group_503.png"
                                target="_blank"
                            >
                                <i
                                    aria-hidden="true"
                                    class="fa fa-download"></i>
                                Download
                            </a>
                        </div>
                    </div>

                </div>
                <div class="row row-2">
                    <div class="col-md-3">
                        <div class="mobile light-gray">
                            <img
                                alt="503"
                                src="/images/presskit/mobile_icon-jobayan-2.png"
                            >
                        </div>
                        <div class="download-box">
                            <a
                                href="/images/presskit/mobile_icon-jobayan-2.png"
                                target="_blank"
                            >
                                <i
                                    aria-hidden="true"
                                    class="fa fa-download"></i>
                                Download
                        </a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mobile">
                            <img
                                alt="503"
                                src="/images/presskit/mobile_icon-jobayan-1.png"
                            >
                        </div>
                        <div class="download-box">
                            <a
                                href="/images/presskit/mobile_icon-jobayan-1.png"
                                target="_blank"
                            >
                                <i
                                    aria-hidden="true"
                                    class="fa fa-download"></i>
                                Download
                        </a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mobile light-gray">
                            <img
                                alt="503"
                                src="/images/presskit/mobile_icon-jobayan-2-white.png"
                            >
                        </div>
                        <div class="download-box">
                            <a
                                href="/images/presskit/mobile_icon-jobayan-2-white.png"
                                target="_blank"
                            >
                                <i
                                    aria-hidden="true"
                                    class="fa fa-download"></i>
                                Download
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mobile">
                            <img
                                alt="503"
                                src="/images/presskit/mobile_icon-jobayan-200.png"
                            >
                        </div>
                        <div class="download-box">
                            <a
                                href="/images/presskit/mobile_icon-jobayan-200.png"
                                target="_blank"
                            >
                                <i
                                    aria-hidden="true"
                                    class="fa fa-download"></i>
                                    Download
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-3">
            <div class="logo-usage">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            Jobayan Logo Usage
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            In instances where the logo is needed to be placed directly on top of a high-contrast photograph or pattern, a rounded rectangle should be placed behind the logo, where the radius of the rounded corners is equal to 2 times the radius of the circle formed at the tip of the ascender of the letter "b" in the logo to be used.
                            <br>
                            <br>
                            Proper spacing as discussed in the next section should be observed.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <img
                            alt="535"
                            class="spread"
                            src="/images/presskit/Group 535.png"
                        >
                    </div>
                </div>

                <div class="row">
                    <p>
                        In some instances where the logo will be the only identifying graphic for an item this logo with the tagline "YOUR CAREER AWAITS" may be used.
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-2 filler"></div>
                    <div class="col-md-9">
                        <img
                            alt="534"
                            class="tri-circle"
                            src="/images/presskit/Group 534.png"
                        >
                    </div>
                </div>

                <div class="row">
                    <p>
                        Legibility will always be a factor when using this variation. If the viewing size is too small to easily read the tagline, always opt for the logo itself. Do not increase the size of the tagline just to make it readable.
                    </p>
                </div>

                <div class="clear-spaces">
                    <div class="row">
                        <h2>
                            Clear space and sizes
                        </h2>
                    </div>
                    <div class="row">
                        <p>
                            The minimum clear space around the logo is defined as 2 times x, with x being the width of the ascender of the letter "b"
                            <br />
                            in the logo.
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-md-1 filler"></div>
                        <div class="col-md-10">
                            <img
                                alt="536"
                                class="two-X"
                                src="/images/presskit/Group 536.png"
                            >
                        </div>
                        <div class="col-md-1 filler"></div>
                    </div>

                    <div class="row">
                        <p>
                            The minimum size of the logo is 25px by 82.6px for screen media, measured from the tip of the ascender of the letter "b"
                            <br/>
                            to the bottom of the descender of the letter "y".
                            <br />
                            <br />
                            In cases where the pixel measurement cannot be used, legibility should always be the top priority.
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-md-5 filler"></div>
                        <div class="col-md-2">
                            <img
                                alt="537"
                                src="/images/presskit/Group 537.png"
                            >
                        </div>
                        <div class="col-md-5 filler"></div>
                    </div>

                    <div class="row">
                        <p>
                            The logo is recommended to be placed on a white background for maximum clarity. In cases when the original three colored logo is not appropriate, the following combinations are available for use:
                        </p>
                    </div>

                    <div class="row combinations">
                        <div class="col-md-3">
                            <img
                                alt="549"
                                src="images/presskit/group_549.png"
                            >
                        </div>
                        <div class="col-md-3">
                            <img
                                alt="547"
                                src="images/presskit/Group 547.png"
                            >
                        </div>

                        <div class="col-md-3">
                            <img
                                alt="546"
                                src="images/presskit/Group 546.png"
                            >
                        </div>

                        <div class="col-md-3">
                            <img
                                alt="545"
                                src="images/presskit/Group 545.png"
                            >
                        </div>
                    </div>

                    <div class="not-to-do">
                        <div class="row">
                            <div class="col-md-1 circle">
                                <img
                                    alt="54"
                                    src="/images/presskit/symbol_54.png"
                                >
                            </div>
                            <div class="col-md-11">
                                <h3>
                                    Things not to do with the logo :
                                </h3>
                                <p>
                                    Never attempt to recreate the logo or any of its parts.
                                    <br />
                                    You probably know how to apply lots of lovely effects to things, but lets keep it to minimum when working with our logo.
                                </p>
                                <div class="row row-1">
                                    <div class="col-md-4">
                                        <div class="slot">
                                            <img
                                                alt="538"
                                                src="images/presskit/Group 538.png"
                                            >
                                        </div>
                                        <div>
                                            <p>
                                                Don't interchange the colors
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="slot">
                                            <img
                                                alt="539"
                                                src="images/presskit/Group 539.png"
                                            >
                                        </div>
                                        <div>
                                            <p>
                                                Don't add stroke
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="slot">
                                            <img
                                                alt="540"
                                                src="images/presskit/Group 540.png"
                                            >
                                        </div>
                                        <div>
                                            <p>
                                                Don't add a drop shadow
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-2">
                                    <div class="col-md-4">
                                        <div class="slot">
                                            <img
                                                alt="541"
                                                src="images/presskit/Group 541.png"
                                            >
                                        </div>
                                        <div>
                                            <p>
                                                No matter how tempting, please don't add a print to the necktie
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="slot">
                                            <img
                                                alt="542"
                                                src="images/presskit/Group 542.png"
                                            >
                                        </div>
                                        <div>
                                            <p>
                                                Don't use a regular "J" in the logo
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="slot">
                                            <img
                                                alt="548"
                                                src="images/presskit/group_548.png"
                                            >
                                        </div>
                                        <div>
                                            <p>
                                                Don't place the colored logo on top of a color that is or similar to one of the primary logos
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-3">
                                    <div class="col-md-6">
                                        <div class="col-md-4 filler"></div>
                                        <div class="col-md-8">
                                            <div class="slot">
                                                <img
                                                    alt="543"
                                                    src="/images/presskit/Group 543.png"
                                                >
                                            </div>
                                            <p>
                                                Don't straighten out the "J"
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-9">
                                            <div class="slot">
                                                <img
                                                    alt="544"
                                                    src="/images/presskit/Group 544.png"
                                                >
                                            </div>

                                            <p>
                                                Don't change the spacing of the logo
                                            </p>

                                            <div class="col-md-3 filler">
                                        </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- END: Middle Content -->
    <div class="col-md-2 filler"></div>
</div>
</div>
<div class="container container-4">
    <div class="row full-branding">
        <div class="col-md-12">
            <h2>
                Download the full branding guideline of Jobayan
            </h2>
        </div>
        <div class="col-md-12">
            <a
                class="btn btn-default"
                href="/images/presskit/jobayan_branding.pdf"
                target="_blank"
            >
                Download
            </a>
        </div>
    </div>
</div>
