<!-- START: Rank and Achievement Page -->
<div class="rank-achievement static">
    <!-- START: Rank and Achievement heading -->
    <div class="rank-achievement-heading text-center">
        <div class="container">
            <h1 class="text-uppercase">
                {{_ 'Entice Job Seekers with your Ranks and Achievements'}}
            </h1>
            <hr />
            <p>
                {{_ 'Welcome to your reward page! Jobayan offers you points that
                correspond to ranks that your account can achieve. Explore these
                achievements and unlock badges to entice job seekers with your
                engagement.'}}
            </p>
        </div>
    </div>
    <!-- END: Rank and Achievement heading -->
    <!-- START: Earning Points -->
    <div class="rank-achievement-earning">
        <div class="container">
            <div class="col-md-6 earning-descriptions">
                <h2>{{_ 'Earning Points'}}</h2>
                <p>
                    {{_ 'Begin unlocking! Points are easily earned as long as
                    you’re active in your Jobayan account. Every activity
                    corresponds to points (i.e. Promoting a post can earn you
                    500pts), and every point corresponds to level and rank. Just
                    keep using your Jobayan account for you and your job seekers
                    and earn masters ranks to make your company stand out.'}}
                </p>
            </div>
            <div class="col-md-6">
                <table class="col-md-12 col-sm-12 col-xs-12">
                    <tbody>
                        <tr class="odd">
                            <td class="points-value col-md-3">500 PTS</td>
                            <td class="points-text col-md-9">
                                {{_ 'Promoting a Post'}}
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="points-value col-md-3">200 PTS</td>
                            <td class="points-text col-md-9">
                                {{_ 'Signing Up'}}
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="points-value col-md-3">200 PTS</td>
                            <td class="points-text col-md-9">
                                {{_ 'Job Posting'}}
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="points-value col-md-3">100 PTS</td>
                            <td class="points-text col-md-9">
                                {{_ 'Click Interested'}}
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="points-value col-md-3">15 PTS</td>
                            <td class="points-text col-md-9">
                                {{_ 'Updating Profile'}}
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="points-value col-md-3">10 PTS</td>
                            <td class="points-text col-md-9">
                                {{_ 'Downloading a Resume'}}
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="points-value col-md-3">1 PT</td>
                            <td class="points-text col-md-9">
                                {{_ 'Viewing a Search Page'}}
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="points-value col-md-3">1 PT</td>
                            <td class="points-text col-md-9">
                                {{_ 'Viewing a Detail Page'}}
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="points-value col-md-3">1 PT</td>
                            <td class="points-text col-md-9">
                                {{_ 'Purchasing Credit 1:1'}}
                            </td>
                        </tr>
                    </tbody>
                 </table>
            </div>
        </div>
    </div>
    <!-- END: Earning Points -->
    <!-- START: Sample Ranks & Achievements -->
    <div class="row">
        <div class="container">
            <div class="col-lg-5 col-md-5 col-xs-12">
                <h2 class="text-center">{{_ 'Ranks'}}</h2>
                <div class="table-responsive">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th class="lvl-pts-header">{{_ 'LVL'}}</th>
                                <th class="lvl-pts-header">{{_ 'POINTS'}}</th>
                                <th class="rank-header">{{_ 'Rank'}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="lvl-pts">1-4</td>
                                <td class="lvl-pts">75++</td>
                                <td class="ranks">{{_ 'Just Starting'}}</td>
                            </tr>
                            <tr>
                                <td class="lvl-pts">5-9</td>
                                <td class="lvl-pts">460++</td>
                                <td class="ranks">{{_ 'New Recruiter'}}</td>
                            </tr>
                            <tr>
                                <td class="lvl-pts">10-19</td>
                                <td class="lvl-pts">1,230++</td>
                                <td class="ranks">{{_ 'Junior Recruiter'}}</td>
                            </tr>
                            <tr>
                                <td class="lvl-pts">20-29</td>
                                <td class="lvl-pts">4,545++</td>
                                <td class="ranks">{{_ 'Active Recruiter'}}</td>
                            </tr>
                            <tr>
                                <td class="lvl-pts">30-39</td>
                                <td class="lvl-pts">13,440++</td>
                                <td class="ranks">{{_ 'Ninja Recruiter'}}</td>
                            </tr>
                            <tr>
                                <td class="lvl-pts">40-49</td>
                                <td class="lvl-pts">37,300++</td>
                                <td class="ranks">{{_ 'Samurai Recruiter'}}</td>
                            </tr>
                            <tr>
                                <td class="lvl-pts">50-59</td>
                                <td class="lvl-pts">101,410++</td>
                                <td class="ranks">{{_ 'Rockstar Company'}}</td>
                            </tr>
                            <tr>
                                <td class="lvl-pts">60-69</td>
                                <td class="lvl-pts">273,820++</td>
                                <td class="ranks">{{_ 'VIP Company'}}</td>
                            </tr>
                            <tr>
                                <td class="lvl-pts">70-79</td>
                                <td class="lvl-pts">737,700++</td>
                                <td class="ranks">{{_ 'Super Company'}}</td>
                            </tr>
                            <tr>
                                <td class="lvl-pts">80-89</td>
                                <td class="lvl-pts">1,986,145++</td>
                                <td class="ranks">{{_ 'Grand Company'}}</td>
                            </tr>
                            <tr>
                                <td class="lvl-pts">90-99</td>
                                <td class="lvl-pts">5,346,410++</td>
                                <td class="ranks">{{_ 'Epic Company'}}</td>
                            </tr>
                            <tr>
                                <td class="lvl-pts">100++</td>
                                <td class="lvl-pts">14,391,235++</td>
                                <td class="ranks first-to-unlock">
                                    <i class="fa fa-lock"></i>
                                    {{_ 'Be the first to unlock!'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-xs-12 text-center">
                <div class="achievements col-md-12 col-sm-12">
                    <h2 class="text-center">{{_ 'Achievements'}}</h2>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-3">
                        <img
                            alt="Signup Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/signup.png"
                        />
                    </div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-3">
                        <img
                            alt="Verified Recruiter Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/verified_recruiter.png"
                        />
                    </div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-3">
                        <img
                            alt="Verified Company Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/verified_company.png"
                        />
                    </div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-3">
                        <img
                            alt="Jobayan Medal of Honor"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/medal_of_honor.png"
                        />
                    </div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-3">
                        <img
                            alt="1st Interested Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/interested_1.png"
                        />
                    </div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-3">
                        <img
                            alt="10th Interested Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/interested_10.png"
                        />
                    </div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-3">
                        <img
                            alt="50th Interested Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/interested_50.png"
                        />
                    </div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-3">
                        <img
                            alt="100th Interested Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/interested_100.png"
                        />
                    </div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-3">
                        <img
                            alt="1st Post Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/post_1.png"
                        />
                    </div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-3">
                        <img
                            alt="10th Post Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/post_10.png"
                        />
                    </div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-3">
                        <img
                            alt="50th Post Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/post_50.png"
                        />
                    </div>

                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-3">
                        <img
                            alt="100th Post Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/post_100.png"
                        />
                    </div>
                    <!-- column spacing -->
                    <div class="col-md-2 achievements-column-spacing"></div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-4">
                        <img
                            alt="10th Downloaded Resume Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/downloaded_10.png"
                        />
                    </div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-4">
                        <img
                            alt="50th Downloaded Resume Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/downloaded_50.png"
                        />
                    </div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-4">
                        <img
                            alt="100th Downloaded Resume Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/downloaded_100.png"
                        />
                    </div>
                    <div class="col-md-2 achievements-column-spacing"></div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-4">
                        <img
                            alt="10th Promoted Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/promoted_10.png"
                        />
                    </div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-4">
                        <img
                            alt="50th Promoted Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/promoted_50.png"
                        />
                    </div>
                    <div class="achievements-image col-lg-3 col-md-3 col-xs-6 col-sm-4">
                        <img
                            alt="100th Promoted Badge"
                            class="img-responsive"
                            src="{{config 'cdn'}}/images/achievements/promoted_100.png"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Sample Ranks & Achievements -->
</div>
<!-- END: Rank and Achievement Page -->
