<div class="introduction">
    <center>
        <span class="head">INTRODUCING CREDITS</span><br>
        <div class="divider">
        </div>
        <span class="body">
            Credits are used to avail of different services of Jobayan.
        </span>
        <div class="description">
            <img
                src="{{config 'cdn'}}/images/credits.png"
                class="desc-img"
                alt="credit-card"
            >
            <div class="details">
                Credits are a cost effective way for Companies to getting ahead
                of the competition on Jobayan. You can purchase as low as ₱100
                worth of credits and credits will last forever. For companies,
                you can purchase credits in your user dashboard section of
                Jobayan.
            </div>
        </div>
        <img
            src="{{config 'cdn'}}/images/services.png"
            class="foot-img"
            alt="footer"
        >
    </center>
</div>
<div class="container services-body">
    <center>
        <span class="head">SERVICES</span>
    </center>
    <div class="section">
        <div class="row">
            <div class="services">
                <center>
                    <span class="head">
                        Creating a <span class="bold">Job Post</span>
                    </span>
                    <div class="divider"></div>
                        <div class="detail">
                            Posting a job ad will make your opening visible to
                            the public taking advantage of our organic and paid
                            marketing.
                        </div>
                    <div class="foot"><strong>ALWAYS FREE</strong></div>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="services">
                <center>
                    <span class="head">
                        <i class="fa fa-heart"></i> Interested
                        <span class="bold">Notifications</span>
                    </span>
                    <div class="divider"></div>
                        <div class="detail">
                            Clicking interested on job seeker posts will send
                            your contact information to that potential applicant.
                        </div>
                    <div class="foot"><strong>ALWAYS FREE</strong></div>
                </center>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <div class="services">
                <center>
                    <span class="head">
                        Download <span class="bold">Resume</span>
                    </span>
                    <div class="divider"></div>
                    <div class="detail">
                        Once you download a resume from a job seeker post, you
                        will always have access to that posted resume.
                    </div>
                    <div class="foot">10 Credits</div>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="services">
                <center>
                    <span class="head">
                        Email Match <span class="bold">Notifications</span>
                    </span>
                    <div class="divider"></div>
                    <div class="detail">
                        Get notified by e-mail once a job seeker posts matches
                        your active post requirements.
                    </div>
                    <div class="foot-strike">
                        <strike>
                            &nbsp;&nbsp;&nbsp; 50 Credits &nbsp;&nbsp;&nbsp;
                        </strike>
                        <br>
                        <strong>FREE</strong>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <div class="services">
                <center>
                    <span class="head">
                        SMS Match <span class="bold">Notifications</span>
                    </span>
                    <div class="divider"></div>
                    <div class="detail">
                        Get notified by SMS once a job seeker posts matches your
                        active post requirements.
                    </div>
                    <div class="foot">300 Credits</div>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="services">
                <center>
                    <span class="head">
                        Job Post <span class="bold">Promotion</span>
                    </span>
                    <div class="divider"></div>
                    <div class="detail">
                        Clicking interested on job seeker posts will send your
                        contact information to that potential applicant.
                    </div>
                    <div class="foot">100 Credits</div>
                </center>
            </div>
        </div>
    </div>
</div>
