<!-- START: Crumbs -->
<div class="crumbs">
    <a href="/control/business/dashboard">
        <i class="fa fa-home"></i> {{_ 'Dashboard'}}
    </a>
    <span class="separator"><i class="fa fa-angle-right"></i></span>
    <a href="/control/business/profile/search">
        <i class="fa fa-building"></i> {{_ 'Companies'}}
    </a>
    <span class="separator"><i class="fa fa-angle-right"></i></span>
    <a href="#" class="active">
        <i class="fa fa-plus"></i> {{_ 'Create Company'}}
    </a>
</div>
<!-- END: Crumbs -->
<!-- START: Scroll -->
<div class="scroll">
    <h3 class="template-blue">
        <i class="fa fa-plus"></i> {{_ 'Create Company'}}
    </h3>
    {{> profile_form}}
</div>
