<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div style="background: #f6f6f6; margin: 20px auto; padding: 0; width: 600px;">
    <!-- Head -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" 
        style="border-collapse: collapse; 
            background: #7cd4e8;
            font-family: 'Montserrat', sans-serif; 
            text-align: center;">
        <tr>
            <td> 
                <div style="margin: 30px 0; text-align: center;">
                    <a  href="{{host}}" target="_blank">  
                        <img src="{{host}}/images/logo-white-orange.png" />
                    </a>
                </div>
                <div>
                    <h2 
                        style="color: #ffffff; 
                        font-weight: 500;
                        font-size: 20px;
                        text-transform: uppercase;
                        "
                    >
                        SOMEONE SENT YOU A MESSAGE
                    </h2>
                </div>
            </td>
        </tr>
    </table>
    <!-- Body -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="500" 
        style="background: #ffffff; 
            border-collapse: collapse; 
            color: #b0b3b4; 
            font-family: 'Open Sans', sans-serif; 
            text-align: center;">
        <tr>
            <td style="padding: 30px 25px 50px 25px; color: #696969">
                <div style="clear: both">
                    <div 
                        style="
                            float: left; 
                            font-size: 13px; 
                            text-align: left; 
                            width: 52%; 
                            padding-right: 3%;
                        "
                    >
                        <div>
                            Hello, <strong style="color: #474747;">
                                        {{receiver.profile_name}}!
                                    </strong> 
                        </div>
                        <div style="line-height: 20px; margin-top: 20px;">
                            {{#if message}}
                                <div>{{{message}}}</div>
                            {{/if}}
                        </div>
                        <div style="margin-top: 20px;">
                            Here's my contact details:
                        </div>
                        {{#if sender.profile_email}}
                        <div style="line-height: 20px;">
                            <strong style="color: #474747;">EMAIL:</strong> 
                            {{sender.profile_email}}
                        </div>
                        {{/if}}
                        {{#if sender.profile_phone}}
                        <div style="line-height: 20px;">
                            <strong style="color: #474747;">PHONE:</strong> 
                            {{sender.profile_phone}}
                        </div>
                        {{/if}}
                        <div style="line-height: 20px; margin-top: 20px;">
                            <strong style="color: #474747;">
                                Best Regards,
                            </strong>
                            {{#if sender.profile_name}}
                                <div>{{sender.profile_name}}</div>
                            {{/if}}
                        </div>
                    </div>
                    <div style="float: right; width: 45%;">
                        <div style="border: 2px solid #ececec;">
                            <div style="background: #ececec;
                                height: 95px;
                                position: relative;">
                                <img src="{{#if sender.profile_image}}
                                    {{sender.profile_image}}
                                    {{else}}
                                        {{default_avatar sender.profile_id}}
                                    {{/if}}" 
                                    style="border: 3px solid #18bbd7;
                                        border-radius: 60px;
                                        height: 100px;
                                        left: 49px;
                                        position: absolute;
                                        top: 15px;
                                        width: 100px;">
                            </div>
                            <div style="background: #ffffff; 
                                color: #474747;
                                font-size: 13px;
                                margin-top: 25px;
                                margin-bottom: 10px;">
                                <div>{{sender.profile_name}}</div>
                            </div>
                            <div style="
                                background: #F99462;
                                border-color: #F99462;
                                border-radius: 5px;
                                color: #FFFFFF;
                                font-size: 12px;
                                padding: 10px 5px;
                                text-transform: uppercase;
                                width: 160px;
                                margin: 0 auto 10px auto;
                                cursor: pointer;
                            ">
                                <a
                                    href="{{link}}" 
                                    target="_blank"
                                    style="
                                        text-decoration: none;
                                        color: #ffffff;
                                    "
                                >
                                    view job seeker profile
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <!-- Footer -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="500" 
        style="background: transparent; 
            border-collapse: collapse; 
            color: #b0b3b4; 
            font-family: 'Montserrat', sans-serif; 
            text-align: center;">
        <tr>
            <td style="padding: 25px;">
                <a  href="{{host}}" target="_blank">  
                    <img src="{{host}}/images/logo-gray.png" />
                </a> 
               <ul style="list-style-type: none;
                    margin-bottom: 25px;
                    margin-top: 20px;
                    padding: 0;">
                   <li style="border-radius: 25px;
                            border: 2px solid #9fa098;
                            color: #9fa098;
                            display: inline-block;
                            width:40px;
                            height:40px;">
                        <a href="https://www.facebook.com/jobayancom" target="_blank"
                            style="display: grid;">
                            <img src="{{host}}/images/email/fb.png" style="margin: 8px;"/>
                        </a>
                    </li>
                    &nbsp;
                    <li style="border-radius: 25px;
                            border: 2px solid #9fa098;
                            color: #9fa098;
                            display: inline-block;
                            width:40px;
                            height:40px">
                        <a href="https://twitter.com/jobayancom" target="_blank"
                            style="display: grid;">
                            <img src="{{host}}/images/email/twitter.png" style="margin: 8px;"/>
                        </a>
                    </li>
                    &nbsp;
                    <li style="border-radius: 25px;
                            border: 2px solid #9fa098;
                            color: #9fa098;
                            display: inline-block;
                            width:40px;
                            height:40px">
                        <a href="https://www.linkedin.com/company/13271950" target="_blank"
                            style="display: grid;">
                            <img src="{{host}}/images/email/linkedin.png" style="margin: 8px;"/>
                        </a>
                    </li>
               </ul>
               <p style="color: #b0b3b4;
                        font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 5px;">
                    Questions? Concerns? Email us at 
                    <a href="mailto:info@jobayan.com" 
                        style="color: #b0b3b4; 
                            text-decoration:none">info@jobayan.com</a>
                </p>
                <p style="color: #b0b3b4;
                        font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 5px;">
                    Mandala Park, 1552 Shaw Blvd,
                </p>
                <p style="color: #b0b3b4;
                        font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 5px;">
                    Pleasant Hills Mandaluyong
                </p>
            </td>
        </tr>
        <tr>
            <td style="border-top: 1px solid #b9bbbc; clear: both; padding: 20px 0 40px 0;">
                <div style="font-size: 13px; float: left;">
                    Copyright &copy; 2017 All Rights Reserved
                </div>
                <div style="font-size: 13px; float: right;">
                    Jobayan PH &middot; 
                    <a href="{{host}}/privacy" target="_blank" 
                        style="color: #b0b3b4;
                        text-decoration: none;">Our Privacy Policy</a>
                </div>
            </td>
        </tr>
    </table>
</div>
