<!-- START: How It Works -->
<div class="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <{{head}} class="head">
                    {{{_ 'How it works'}}}
                </{{head}}>
            </div>
            <div class="col-md-7">
                <!-- START: Quick post -->
                <div class="quick-post">
                    <{{heading}} class="create quick-post-head">
                        {{_ "Create a Job Post. It's as easy as 1, 2, 3!"}}
                    </{{heading}}>
                    <p>
                        {{{_ "Simply fill out the form on our home page:
                            <strong>Name</strong>, <strong>Position</strong> &
                            <strong>Location</strong>."}}} <br />
                        {{{_ "Looking for a job? Fill out as a <strong>job seeker</strong>."}}} <br />
                        {{{_ "Looking for an employee? Fill out as a <strong>job poster</strong>. <br />"}}}
                    </p>
                    <{{heading}} class="quick-post-head search">
                        {{_ 'Search Through Job Posts'}}
                    </{{heading}}>
                    <p>
                        {{{_ "When searching for a post, you may filter <strong>by job seekers</strong>
                            if you are looking <br /> for an employee or <strong>by company</strong>
                            if you are looking for a job. <br />"}}}
                        
                        {{_ 'Click ' }}
                        <span class="interested">
                            <i aria-hidden="true" class="fa fa-heart-o fa-fw">
                            </i> {{_ 'Interested  '}}
                        </span>

                        {{{_ " if you want to show interest on a job posting <br /> and your
                        contact details will automatically get sent to them" }}}
                    </p>
                    <{{heading}} class="quick-post-head wait">
                        {{_ 'Wait for a Job Match'}}
                    </{{heading}}>
                    <p>
                        {{{_ "Here in Jobayan, there's no forever in job hunting!<br />"}}}
                        
                        {{{_ "When a company's post matches with a job seeker's post,
                            you will be notified <br /> right away!"}}}
                    </p>
                </div>
                <!-- END: Quick Post -->
            </div>
        </div>
    </div>
</div>
<!-- END: How It Works -->
