<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<div style="background: #f6f6f6; margin: 20px auto; padding: 0; width: 600px;">
    <!-- Head -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
        style="border-collapse: collapse;
            background: #7cd4e8;
            font-family: 'Montserrat', sans-serif;
            text-align: center;">
        <tr>
            <td>
                <div style="margin: 30px 0; text-align: center;">
                    <a href="{{host}}" target="_blank">
                        <div style="margin: 0 auto; width: 50%;">
                            <img src="{{host}}/images/logo-white-orange.png"/>
                        </div>
                    </a>
                </div>
                <div>
                    <h2 style="color: #ffffff;
                        font-weight: 500;
                        font-size: 20px;
                        text-transform: uppercase;">Application Successful!</h2>
                </div>
            </td>
        </tr>
    </table>
    <!-- Body -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
        style="background: #ffffff;
            border-collapse: collapse;
            color: #909090;
            font-family: 'Open Sans', sans-serif;
            text-align: center;">
        <tr>
            <td style="padding: 25px;">
                <p style="font-size: 13px;
                    margin-bottom: 0;
                    text-align: left;
                    font-style: italic;">
                    Hello {{profile.profile_name}},
                </p>
                 <p style="font-size: 13px;
                    margin-bottom: 0;
                    text-align: left;">This is to notify you that your application for
                    <a href="{{host}}/{{post_slug}}/post-detail" target="_blank">{{post_position}}</a>
                    from
                    <a href="{{host}}/{{profile_slug}}/profile-post" target="_blank">{{profile_company}}</a> has been successfully sent.</p>
                <p style="font-size: 13px;
                    margin-bottom: 0;
                    text-align: left;">Please stand by and wait for {{profile_company}} to contact you.</p>

                <p style="font-size: 13px;
                    margin-bottom: 0;
                    text-align: left;">
                    Join over 39,474 successful recruiters and applicants in Jobayan. You're just one step away! Easy to set up, easy to use!
                </p>
                {{#when profile.profile_create_flag '==' 'create'}}
                    <p style="margin: 30px 0px;"></p>
                    <p style="font-size: 13px;
                    margin-bottom: 0;
                    text-align: left;">
                        On the other hand we automatically created a Jobayan account for you, to claim your account please click this
                        <a href="{{claimLink}}" target="_blank">link.</a>
                    </p>
                    <div stye="width:100%;">
                        <a href="{{claimLink}}" target="_blank">
                            <button style="background: #7CD4E8 !important;
                                        border-color: #7CD4E8;
                                        border-radius: 5px;
                                        border-style: none;
                                        box-shadow: none;
                                        color: #FFFFFF !important;
                                        font-family: 'Open Sans', 'Montserrat', Arial, sans-serif;
                                        font-size: 14px;
                                        font-weight: 400;
                                        margin-left: 25px;
                                        margin-top: 30px;
                                        padding: 10px 30px !important;
                                        text-transform: uppercase;">
                                        claim profile
                            </button>
                        </a>
                    </div>
                {{else}}
                    <div stye="width:100%;">
                        <a href="{{host}}" target="_blank">
                            <button style="background: #7CD4E8 !important;
                                        border-color: #7CD4E8;
                                        border-radius: 5px;
                                        border-style: none;
                                        box-shadow: none;
                                        color: #FFFFFF !important;
                                        font-family: 'Open Sans', 'Montserrat', Arial, sans-serif;
                                        font-size: 14px;
                                        font-weight: 400;
                                        margin-left: 25px;
                                        margin-top: 30px;
                                        padding: 10px 30px !important;
                                        text-transform: uppercase;">
                                        View profile
                            </button>
                        </a>
                    </div>
                {{/when}}
                
                <p style="color: #95989a;
                        font-weight: 700;
                        font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 35px;
                        text-align: left;">
                    Best Regards,
                </p>
                <p style="color: #95989a;
                        font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 5px;
                        text-align: left;">
                    The Jobayan Team
                </p>
            </td>
        </tr>
    </table>
    <!-- Footer -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="500" 
        style="background: transparent; 
            border-collapse: collapse; 
            color: #b0b3b4; 
            font-family: 'Montserrat', sans-serif; 
            text-align: center;">
        <tr>
            <td style="padding: 25px;">
                <a  href="{{host}}" target="_blank">  
                    <img src="{{host}}/images/logo-gray.png" />
               <ul style="list-style-type: none;
                    margin-bottom: 25px;
                    margin-top: 20px;
                    padding: 0;">
                   <li style="border-radius: 25px;
                            border: 2px solid #9fa098;
                            color: #9fa098;
                            display: inline-block;
                            width:40px;
                            height:40px;">
                        <a href="https://www.facebook.com/jobayancom" target="_blank"
                            style="display: grid;">
                            <img src="{{host}}/images/email/fb.png" style="margin: 8px;"/>
                        </a>
                    </li>
                    &nbsp;
                    <li style="border-radius: 25px;
                            border: 2px solid #9fa098;
                            color: #9fa098;
                            display: inline-block;
                            width:40px;
                            height:40px">
                        <a href="https://twitter.com/jobayancom" target="_blank"
                            style="display: grid;">
                            <img src="{{host}}/images/email/twitter.png" style="margin: 8px;"/>
                        </a>
                    </li>
                    &nbsp;
                    <li style="border-radius: 25px;
                            border: 2px solid #9fa098;
                            color: #9fa098;
                            display: inline-block;
                            width:40px;
                            height:40px">
                        <a href="https://www.linkedin.com/company/13271950" target="_blank"
                            style="display: grid;">
                            <img src="{{host}}/images/email/linkedin.png" style="margin: 8px;"/>
                        </a>
                    </li>
               </ul>
               <p style="color: #b0b3b4;
                        font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 5px;">
                    Questions? Concerns? Email us at 
                    <a href="mailto:info@jobayan.com" 
                        style="color: #b0b3b4; 
                            text-decoration:none">info@jobayan.com</a>
                </p>
                <p style="color: #b0b3b4;
                        font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 5px;">
                    Mandala Park, 1552 Shaw Blvd,
                </p>
                <p style="color: #b0b3b4;
                        font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 5px;">
                    Pleasant Hills Mandaluyong
                </p>
            </td>
        </tr>
        <tr>
            <td style="border-top: 1px solid #b9bbbc; clear: both; padding: 20px 0 40px 0;">
                <div style="font-size: 13px; float: left;">
                    Copyright &copy; 2017 All Rights Reserved
                </div>
                <div style="font-size: 13px; float: right;">
                    Jobayan PH &middot; 
                    <a href="{{host}}/privacy" target="_blank" 
                        style="color: #b0b3b4;
                        text-decoration: none;">Our Privacy Policy</a>
                </div>
            </td>
        </tr>
    </table>
</div>
