<!-- START: Crumbs -->
<div class="crumbs">
    <a href="/control/marketing/dashboard">
        <i class="fa fa-home"></i> {{_ 'Dashboard'}}
    </a>
    <span class="separator">
        <i class="fa fa-angle-right"></i>
    </span>
    <a class="active" href="/control/marketing/link/search">
        <i class="fa fa-code"></i> {{_ 'Links'}}
    </a>
</div>
<!-- END: Crumbs -->
<!-- START: Scroll -->
<div class="scroll">
    <h3 class="template-blue">
        <i class="fa fa-code"></i> {{_ 'Links'}}
        <span class="badge badge-info">{{total}}</span>
    </h3>
    <!-- START: Search Actions -->
    <div class="search-actions">
        <div class="pull-right">
            <a class="btn btn-success" href="create">
                <i class="fa fa-plus"></i> {{_ 'Create Link'}}
            </a>
            <a
                class="btn btn-export"
                href="/control/marketing/link/search?export=true&
                {{~querystring}}"
            >
                <i class="fa fa-download"></i> {{_ 'Export'}}
            </a>
            <button
                class="btn btn-info"
                data-target="#import-modal"
                data-toggle="modal"
            >
                <i class="fa fa-upload"></i> {{_ 'Import'}}
            </button>
        </div>

        <div class="btn-group" role="group">
            <a 
                class="btn 
                    {{#when filter.utm_active '===' '0'}}
                        btn-default
                    {{else}}
                        btn-active active
                    {{/when}}
                "
                href="?filter[utm_active]=1"
            >
                {{_ 'Active'}}
            </a>
            <a 
                class="btn 
                    {{#when filter.utm_active '===' '0'}}
                        btn-active active
                    {{else}}
                        btn-default
                    {{/when}}
                " 
                href="?filter[utm_active]=0"
            >
                {{_ 'Inactive'}}
            </a>
        </div>
    </div>
    <!-- END: Search Actions -->
    <!-- START: Search Filters -->
    <div class="panel panel-default search-filters">
        <div class="panel-heading">{{_ 'Filters'}}</div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-xs-6">
                        <div 
                            class="form-group{{#if errors.q}} has-error{{/if}}"
                        >
                            <label>{{_ 'Search'}}</label>
                            <div class="texts-field">
                                <input
                                    class="form-control"
                                    name="q"
                                    placeholder="{{_ 'Enter Keyword'}}"
                                    type="text"
                                    value="{{q}}"
                                />
                            </div>
                            {{#if errors.q}}
                                <span class="help-text">{{errors.q}}</span>
                            {{/if}}
                        </div>
                        <div 
                            class="form-group{{#if errors.q}} has-error{{/if}}"
                        >
                            <label>{{_ 'Medium'}}</label>
                            <div class="texts-field">
                                <input
                                    class="form-control"
                                    name="filter[utm_medium]"
                                    placeholder="{{_ 'Enter Medium'}}"
                                    type="text"
                                    value="{{filter.utm_medium}}"
                                />
                            </div>
                            {{#if errors.q}}
                                <span class="help-text">{{errors.q}}</span>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div 
                            class="form-group{{#if errors.q}} has-error{{/if}}"
                        >
                            <label>{{_ 'Source'}}</label>
                            <div class="texts-field">
                                <input
                                    class="form-control"
                                    name="filter[utm_source]"
                                    placeholder="{{_ 'Enter Source'}}"
                                    type="text"
                                    value="{{filter.utm_source}}"
                                />
                            </div>
                            {{#if errors.q}}
                                <span class="help-text">{{errors.q}}</span>
                            {{/if}}
                        </div>
                        <div 
                            class="form-group{{#if errors.q}} has-error{{/if}}"
                        >
                            <label>{{_ 'Campaign'}}</label>
                            <div class="texts-field">
                                <input
                                    class="form-control"
                                    name="filter[utm_campaign]"
                                    placeholder="{{_ 'Enter Campaign'}}"
                                    type="text"
                                    value="{{filter.utm_campaign}}"
                                />
                            </div>
                            {{#if errors.q}}
                                <span class="help-text">{{errors.q}}</span>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="form-group filter-button-only">
                    {{#when filter.utm_active '==' '0'}}
                        <input
                            name="filter[utm_active]"
                            type="hidden"
                            value="0"
                        />
                    {{/when}}
                    <button class="btn btn-primary">{{_ 'Filter'}}</button>
                </div>
            </form>
        </div>
    </div>
    <!-- END: Search Filters -->
    <!-- START: Search Table Actions -->
    <div class="search-table-actions">
        <div class="pull-right">
            <div class="btn-group">
                <button
                    aria-expanded="false"
                    aria-haspopup="true"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    type="button"
                >
                    {{_ 'Show %s' range}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a
                            href="/control/marketing/link/search?
                            {{~querystring}}&range=10"
                        >
                            {{_ 'Show 10'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/control/marketing/link/search?
                            {{~querystring}}&range=25"
                        >
                            {{_ 'Show 25'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/control/marketing/link/search?
                            {{~querystring}}&range=50"
                        >
                            {{_ 'Show 50'}}
                        </a>
                    </li>
                    <li>
                        <a
                            href="/control/marketing/link/search?
                            {{~querystring}}&range=100"
                        >
                            {{_ 'Show 100'}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <form
            class="form-inline"
            method="post"
            action="/control/marketing/link/bulk"
        >
            <div class="form-group">
                <select name="bulk_action" class="form-control">
                    <option value="restore">{{_ 'Make Active'}}</option>
                    <option value="remove">{{_ 'Make Inactive'}}</option>
                </select>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">{{_ 'Apply'}}</button>
            </div>
            <!-- START: Search Table -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <input
                                class="checkall"
                                id="checkAll"
                                type="checkbox"
                            />
                        </th>
                        <th>{{_ 'Actions'}}</th>
                        <th>{{_ 'ID'}}</th>
                        <th>{{_ 'Image'}}</th>
                        <th>{{_ 'Title'}}</th>
                        <th>{{_ 'Link'}}</th>
                        <th>{{_ 'Source'}}</th>
                        <th>{{_ 'Medium'}}</th>
                        <th>{{_ 'Campaign'}}</th>
                        <th>{{_ 'Clicked'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each rows}}
                        <tr>
                            <td>
                                <input
                                    name="bulk_ids[]"
                                    value="{{utm_id}}"
                                    type="checkbox"
                                />
                            </td>
                            <td>
                                <a href="update/{{utm_id}}" title="{{_ 'Edit'}}">
                                    <i class="fa fa-edit"></i>
                                </a>&nbsp;
                                {{#if utm_active}}
                                <a title="Remove" href="remove/{{utm_id}}">
                                    <i class="fa fa-remove text-danger"></i>
                                </a>
                                {{else}}
                                <a title="Restore" href="restore/{{utm_id}}">
                                    <i class="fa fa-repeat text-success"></i>
                                </a>
                                {{/if}}
                            </td>
                            <td>{{utm_id}}</td>
                            <td>
                                {{#if utm_image}}
                                    <img src="{{utm_image}}" width="50"/>
                                {{else}}
                                    <img 
                                        src="/images/default-avatar.png" 
                                        width="50"
                                    />
                                {{/if}}
                            </td>
                            <td>
                                <a href="update/{{utm_id}}">{{utm_title}}</a>
                            </td>
                            <td class="cell-url">
                                <a
                                    target="_blank"
                                    href="
                                        {{~#_ '%s'~}}
                                            https://{{~server 'HTTP_HOST'~}}
                                            ?utm_source={{utm_source~}}
                                            &utm_medium={{utm_medium~}}
                                            &utm_campaign={{utm_campaign}}
                                        {{~/_~}}
                                    "
                                >
                                    {{~#_ '%s'~}}
                                        https://{{~server 'HTTP_HOST'~}}
                                        ?utm_source={{utm_source~}}
                                        &amp;utm_medium={{utm_medium~}}
                                        &amp;utm_campaign={{utm_campaign}}
                                    {{~/_~}}
                                </a>
                            </td>
                            <td>{{utm_source}}</td>
                            <td>{{utm_medium}}</td>
                            <td>{{utm_campaign}}</td>
                            <td class="text-center">{{utm_clicked}}</td>
                        </tr>
                    {{/each}}
                    {{#unless rows}}
                        <tr>
                            <td  class="text-center" colspan="12">
                                {{_ 'No results found.'}}
                            </td>
                        </tr>
                    {{/unless}}
                </tbody>
            </table>
            <!-- END: Search Table -->
        </form>
    </div>
    <!-- END: Search Table Actions -->
    <!-- START: Pagination -->
    <nav>
        <ul class="pagination">
            {{#pager total range}}
                <li{{#if active}} class="active"{{/if}}>
                    <a href="?{{href}}">{{page}}</a>
                </li>
            {{/pager}}
        </ul>
    </nav>
    <!-- END: Pagination -->
</div>
<!-- END: Scroll -->

<!-- START: Import Modal -->
<div class="modal fade" id="import-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- START: Modal Header -->
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    &times;
                </button>
                <div class="modal-title">{{_ 'Import Links'}}</div>
            </div>
            <!-- END: Modal Header -->
            <!-- START: Import Modal Form -->
            <form
                action="/control/marketing/link/import"
                class="form-inline"
                enctype="multipart/form-data"
                method="post"
            />
                <div class="modal-body">
                    <div class="form-group">
                        <input
                            class="upload"
                            id="file_csv"
                            name="csv"
                            type="file"
                        />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit">
                        {{_ 'Import'}}
                    </button>
                </div>
            </form>
            <!-- END: Import Modal Form -->
        </div>
    </div>
</div>
<!-- END: Import Modal -->
