<div class="crumbs">
    <a href="/control/marketing/dashboard">
        <i class="fa fa-home"></i> {{_ 'Dashboard'}}
    </a>
    <span class="separator"><i class="fa fa-angle-right"></i></span>
    <a href="search"><i class="fa fa-code"></i> {{_ 'Links'}}</a>
    <span class="separator"><i class="fa fa-angle-right"></i></span>
    <a href="#" class="active">
        <i class="fa fa-edit"></i> {{_ 'Update Link'}}
    </a>
</div>
<div class="scroll">
    <h3 class="template-blue">
        <i class="fa fa-edit"></i> {{_ 'Update Link'}}
    </h3>
    {{> link_form}}
</div>
