<!DOCTYPE html>

<html 
    id="JBWidgetFrame" 
    data-key="{{item.widget_key}}"
    data-type="{{item.widget_type}}"
    data-root="{{item.widget_root}}"
>
    <head>
        <link rel="stylesheet" type="text/css" href="//{{item.widget_root}}/bower_components/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="//{{item.widget_root}}/styles/plugins/career-widget.css" />

        <script type="text/javascript" src="//{{item.widget_root}}/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="//{{item.widget_root}}/scripts/doon.js"></script>
        <script type="text/javascript" src="//{{item.widget_root}}/scripts/plugins/widget-main.js"></script>
    </head>
    <body>
        <div 
            id="JBCareerPage" 
            class="jb-career-page"
        >
            <div class="widget-header clearfix">
                <div class="columns avatar">
                    <img
                        src="{{item.profile_image}}"
                        onerror="this.src='{{default_avatar profile_id}}'"
                        alt="{{item.profile_company}}"
                    />
                </div>
                <div class="columns company">
                    <h2>{{item.profile_company}} Careers</h2>
                </div>
                <div class="columns branding">
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-items">
                    {{#if item.rows}}
                        {{> profile/widget/partials_post}}
                    {{else}}
                        <div class="widget-empty">
                            <center>No available posts.</center>
                        </div>
                    {{/if}}
                </div>
        
                {{#if item.rows}}
                    {{#when item.total '>' 10}}
                    <div class="widget-load-more">
                        <button 
                            class="load-more-button"
                            data-do="widget-load-more"
                            data-on="click"
                            {{#if item.widget_header_color}}
                                style="background: {{item.widget_header_color}}; border: 1px solid {{item.widget_header_color}}"
                            {{/if}}
                        >Load More</button>
                    </div>
                    {{/when}}
                {{/if}}
        
        
                <div class="widget-loader hide">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </div>
            </div>
        </div>

        {{#if flash}}
            <div 
                class="{{flash.type}}"
                data-do="widget-flash" 
                id="JBFlash" 
            >
                <div class="flash-header clearfix">
                    <div class="flash-title">
                        {{#when flash.type '==' 'error'}}
                            <p>Error</p>
                        {{/when}}

                        {{#when flash.type '==' 'success'}}
                            <p>Success</p>
                        {{/when}}
                    </div>
                    <div class="flash-close">
                        <i 
                            class="fa fa-times"
                            data-do="widget-flash-close" 
                            data-on="click" 
                        >
                        </i>
                    </div>
                </div>
                <div class="flash-message">
                    <p>{{flash.message}}</p>
                </div>
            </div>
        {{/if}}
    </body>
</html>