<div class="container">
    {{> profile_alert}}
    <!-- START: Profile Panel -->
    <div class="row profile-panel">
        <!-- START: Sidebar Left -->
        <aside class="col-md-3 left">
            {{> profile_menu active="billing"}}
        </aside>
        <!-- END: Sidebar Left -->
        <!-- START: Content Right -->
        <div class="col-md-9 right">
            <!-- START: Head -->
            <div class="head row">
                <div class="text-left col-md-6">
                    <h1>{{_ 'Transactions'}}</h1>
                </div>
                <div class="text-right col-md-6">
                    <!-- START: Search -->
                    <form class="form-inline" method="get">
                        <div class="input-group">
                            <input
                                class="form-control"
                                name="q"
                                placeholder="{{_ 'Search'}}"
                                type="text"
                                value="{{q}}"
                            />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                    <!-- END: Search -->
                </div>
            </div>
            <!-- END: Head -->
            <!-- START: Main Content -->
            <div class="content">
                <!-- START: Billing Info -->
                <div class="billing-info">
                    <div>
                        <div class="header-tabs active">
                            <a href="/profile/transaction/search">
                                {{_ 'Billing'}}
                            </a>
                        </div>
                        <div class="header-tabs">
                            <a href="/profile/credit/search">
                                {{_ 'Credits'}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <h1>
                            {{_ 'Billing Information'}}
                        </h1>
                    </div>
                    <div class="col-md-2">
                        <a href="/profile/transaction/search/update">
                            <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="table-1">
                    <table class="info-table">
                        <tbody>
                            <tr>
                                <td class="text-right">
                                    {{_ 'Billing Name'}}
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    {{#if item.profile_billing_name}}
                                        {{item.profile_billing_name}}
                                    {{else}}
                                        {{item.profile_name}}
                                    {{/if}}
                                </td>
                            </tr>

                            <tr>
                                <td class="text-right">
                                    {{_ 'Address'}}
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    {{item.profile_address_street}}
                                </td>
                            </tr>

                            <tr>
                                <td class="text-right">
                                    {{_ 'City'}}
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    {{item.profile_address_city}}
                                </td>
                            </tr>

                            <tr>
                                <td class="text-right">
                                    {{_ 'Province'}}
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    {{item.profile_address_state}}
                                </td>
                            </tr>

                            <tr>
                                <td class="text-right">
                                    {{_ 'Country'}}
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td class="billing-name">
                                    {{#if item.profile_address_country}}
                                        {{item.profile_address_country}}
                                    {{else}}
                                        Philippines
                                    {{/if}}
                                </td>
                            </tr>

                            <tr>
                                <td class="text-right">
                                    {{_ 'Postal Code'}}
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    {{item.profile_address_postal}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- END: Billing Info -->
                <!-- START: Main Info -->
                <div class="info">
                    <!-- START: Transaction List -->
                    <div>
                        <h1>
                            {{_ 'Billing History'}}
                        </h1>
                    </div>
                    <div class="body">
                        {{#if rows}}
                        <table class="table table-striped">
                            <thead>
                                <th>{{_ 'Date'}}</th>
                                <th>{{_ 'Statement'}}</th>
                                <th>{{_ 'Credits'}}</th>
                                <th>{{_ 'Amount'}}</th>
                                <th>{{_ 'Status'}}</th>
                                <th>{{_ 'Reference'}}</th>
                            </thead>
                            <tbody>
                                {{#each rows}}
                                <tr data-id="{{transaction_id}}">
                                    <td>{{date transaction_created 'm/d/Y'}}</td>
                                    <td>{{transaction_statement}}</td>
                                    <td class="credits">
                                        <strong>
                                            {{number transaction_credits}}
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>{{transaction_currency}}
                                        {{number transaction_total}}</strong>
                                    </td>
                                    <td
                                        class="
                                            {{#when transaction_status '==' 'complete'}}
                                                complete
                                            {{/when}}
                                            {{#when transaction_status '==' 'verified'}}
                                                verified
                                            {{/when}}
                                            {{#when transaction_status '==' 'pending'}}
                                                pending
                                            {{/when}}"
                                    >
                                        {{ucwords transaction_status}}
                                    </td>
                                    <td>
                                        <a href="/profile/transaction/detail/{{transaction_id}}">
                                            {{transaction_payment_reference}}
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                        <!-- START: Pagination -->
                        <ul class="pagination">
                            {{#pager total range}}
                                <li class="{{#if active}}active{{/if}}">
                                    <a href="?{{href}}">{{page}}</a>
                                </li>
                            {{/pager}}
                        </ul>
                        <!-- END: Pagination -->
                        <!-- START : Detail Footer -->
                        <div class="detail-footer">
                            <div class="clearfix import-export">
                                <div class="col-md-12">
                                    <span>{{_ 'Export Billing history'}}</span>
                                    <!-- START : Form -->
                                    <form
                                        class="filter-form"
                                        data-do="check-date"
                                        data-on="submit"
                                        method="get"
                                    >
                                        <div>
                                            <div class="date-wrapper">
                                                <div class="date-icon"></div>
                                                <input
                                                    class="date form-control"
                                                    id="start"
                                                    name="date[start_date]"
                                                    type="date"
                                                    value="{{date.start_date}}"
                                                />
                                            </div>
                                            <div class="date-wrapper">
                                                <div class="date-icon"></div>
                                                <input
                                                    class="date form-control"
                                                    id="end"
                                                    name="date[end_date]"
                                                    type="date"
                                                    value="{{date.end_date}}"
                                                />
                                            </div>
                                        </div>
                                        <div>
                                            <button
                                                class="btn btn-success pull-left"
                                                name="export"
                                                type="submit"
                                                value="1"
                                            >
                                                Export
                                            </button>
                                        </div>
                                    </form>
                                    <!-- END : Form -->
                                </div>
                            </div>
                        </div>
                        <!-- END : Detail Footer-->
                        {{else}}
                        <!-- START: No Results -->
                        <div class="no-results">
                            {{_ 'No Results Found'}}
                        </div>
                        <!-- END: No Results -->
                        {{/if}}
                    </div>
                    <!-- END: Transaction List -->
                </div>
                <!-- END: Main Info -->
            </div>
            <!-- END: Main Content -->
        </div>
        <!-- END: Content Right -->
    </div>
    <!-- END: Profile Panel -->
</div>
