<div class="boost-modal modal fade" id="boost-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Boost this Post</div>
            </div>
            <div class="modal-body">
                <div class="position text-capitalize"></div>
                <p></p>
                <span></span>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary text-uppercase boost-button" data-do="" data-on="click" data-id="" data-package="" data-reload="" href="javascript:void(0)"></a>
                <div class="button-cancel">
                    <a class="modal-close" data-dismiss="modal">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
