<div class="confirm-modal modal fade" id="confirm-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-title">Confirmation</div>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-primary">Confirm</a>
            </div>
        </div>
    </div>
</div>
