<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<div style="background: #f6f6f6; margin: 20px auto; padding: 0; width: 600px;">
    <!-- Head -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" 
        style="border-collapse: collapse; 
            background: #7cd4e8;
            font-family: 'Montserrat', sans-serif; 
            text-align: center;">
        <tr>
            <td>
                <div style="margin: 30px 0; text-align: center;">
                    <img src="{{host}}/images/logo-white-orange.png" />
                </div>
                <div>
                    <h2 style="color: #ffffff; 
                        font-weight: 500;
                        font-size: 20px;">CLAIM YOUR PROFILE!</h2>
                </div>
                <div style="background: #ffffff;
                    margin: auto;
                    width: 500px;">
                    <p style="color: #595959; 
                        font-size: 14px;
                        padding: 25px 25px 0 25px;
                        text-align: left;">
                       You are receiving this email because we found one or more of your job listings on our site, Jobayan PH is a social tool for job seekers to directly connect with your company for FREE!
                    </p>
                    <p style="color: #595959; 
                        font-size: 14px;
                        margin-bottom: 0;
                        padding: 0 25px 0 25px;
                        text-align: left;">
                        Jobayan started in 2017 and is now a fast growing job matching website with over 150,000 job posts from over 14,000 companies and 20,000 jobseekers all over the Philippines.
                    </p>
                </div>
            </td>
        </tr>
    </table>
    <!-- Body -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="500" 
        style="background: #ffffff; 
            border-collapse: collapse; 
            color: #b0b3b4; 
            font-family: 'Open Sans', sans-serif;
            text-align: center;">
        <tr>
            <td style="padding: 25px;">
                <p style="color: #595959; 
                    font-size: 14px;
                    margin-top: 0;
                    text-align: left;">
                    To view your company's job posts, please click here:
                </p>
                <a href="{{profileLink}}" target="_blank" 
                    style="background: #f99462;
                        border-radius: 5px;
                        color: #ffffff;
                        display: inline-block;
                        font-size: 16px;
                        padding: 10px 50px;
                        text-decoration: none;">VIEW JOB POST</a>
                <p style="color: #595959; 
                    font-size: 14px;
                    margin-top: 30px;
                    text-align: left;">
                    Job seekers are trying to reach you daily! To clain this profile for FREE please click here:
                </p>
                <a href="{{claimLink}}" target="_blank" 
                    style="background: #7CD4E8;
                        border-radius: 5px;
                        color: #ffffff;
                        display: inline-block;
                        font-size: 16px;
                        padding: 10px 50px;
                        text-decoration: none;">CLAIM PROFILE</a>
                <p style="font-size: 14px;
                    margin-bottom: 0;
                    margin-top: 30px;
                    text-align: left;">
                    Having Trouble? If you are not directed to Jobayan Change Your Password page after clicking  the button, try this link:
                </p>
                <p style="
                        display: block;
                        font-size: 13px;
                        margin: 0;
                        
                        text-align: left;
                        padding-top: 5px;">
                        <span 
                            style="color: #95989A;
                                font-weight: 700;
                            "
                        >
                            View job post - 
                        </span>
                        <a  href="{{profileLink}}"
                            target="_blank"
                            style="color: #f99462;
                            text-decoration: none;
                            "
                        >
                            {{profileLink}}
                        </a>
                </p>
                 <p style="color: #f99462;
                        display: block;
                        font-size: 13px;
                        margin: 0;
                        text-decoration: none;
                        text-align: left;
                        padding-top: 5px;">
                        <span 
                            style="color: #95989A;
                                font-weight: 700;
                            "
                        >
                            Claim profile - 
                        </span>
                        <a  href="{{claimLink}}"
                            target="_blank"
                            style="color: #f99462;
                            text-decoration: none;
                            "
                        >
                            {{claimLink}}
                        </a>
                </p>
                <p style="font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 5px;
                        text-align: left;
                        padding-top: 20px;">
                    If you did not initiate this process, simply ignore this email.
                </p>
                <p style="color: #95989a; 
                        font-weight: 700;
                        font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 30px;
                        text-align: left;">
                    Best Regards,
                </p>
                <p style="color: #95989a;
                        font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 5px;
                        text-align: left;">
                    The Jobayan Team
                </p>
            </td>
        </tr>
    </table>
    <!-- Footer -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="500" 
        style="background: transparent; 
            border-collapse: collapse; 
            color: #b0b3b4; 
            font-family: 'Montserrat', sans-serif; 
            text-align: center;">
        <tr>
            <td style="padding: 25px;">
                <a  href="{{host}}" target="_blank">  
                    <img src="{{host}}/images/logo-gray.png" />
                </a>
               <ul style="list-style-type: none;
                    margin-bottom: 25px;
                    margin-top: 20px;
                    padding: 0;">
                   <li style="border-radius: 25px;
                            border: 2px solid #9fa098;
                            color: #9fa098;
                            display: inline-block;
                            width:40px;
                            height:40px;">
                        <a href="https://www.facebook.com/jobayancom" target="_blank"
                            style="display: grid;">
                            <img src="{{host}}/images/email/fb.png" style="margin: 8px;"/>
                        </a>
                    </li>
                    &nbsp;
                    <li style="border-radius: 25px;
                            border: 2px solid #9fa098;
                            color: #9fa098;
                            display: inline-block;
                            width:40px;
                            height:40px">
                        <a href="https://twitter.com/jobayancom" target="_blank"
                            style="display: grid;">
                            <img src="{{host}}/images/email/twitter.png" style="margin: 8px;"/>
                        </a>
                    </li>
                    &nbsp;
                    <li style="border-radius: 25px;
                            border: 2px solid #9fa098;
                            color: #9fa098;
                            display: inline-block;
                            width:40px;
                            height:40px">
                        <a href="https://www.linkedin.com/company/13271950" target="_blank"
                            style="display: grid;">
                            <img src="{{host}}/images/email/linkedin.png" style="margin: 8px;"/>
                        </a>
                    </li>
               </ul>
               <p style="color: #b0b3b4;
                        font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 5px;">
                    Questions? Concerns? Email us at 
                    <a href="mailto:info@jobayan.com" 
                        style="color: #b0b3b4; 
                            text-decoration:none">info@jobayan.com</a>
                </p>
                <p style="color: #b0b3b4;
                        font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 5px;">
                    Mandala Park, 1552 Shaw Blvd,
                </p>
                <p style="color: #b0b3b4;
                        font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 5px;">
                    Pleasant Hills Mandaluyong
                </p>
            </td>
        </tr>
        <tr>
            <td style="border-top: 1px solid #b9bbbc; clear: both; padding: 20px 0 40px 0;">
                <div style="font-size: 13px; float: left;">
                    Copyright &copy; 2017 All Rights Reserved
                </div>
                <div style="font-size: 13px; float: right;">
                    Jobayan PH &middot; 
                    <a href="{{host}}/privacy" target="_blank" 
                        style="color: #b0b3b4;
                        text-decoration: none;">Our Privacy Policy</a>
                </div>
            </td>
        </tr>
    </table>
</div>
